.ui-button-text {
   font-size:12px !important;
} 
td {
	text-align: center;
	vertical-align: top;
}

/*
-----------------
	AtlasMaker
-----------------
*/
#atlasMaker {
	position:relative;
}
/*
#atlasMaker.edit-mode {
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	z-index:10;
}
*/
#atlasMaker #resizable {
	position:relative;
	background-color:black;
}
#atlasMaker #info {
	position: absolute;
	bottom:5px;
	right:5px;
	color:white;
	font-family:sans-serif;
	z-index:11;
}
#canvas {
    width:100%;
    height:100%;
    cursor: none;
}
canvas {
	image-rendering: optimizeSpeed;             /* Older versions of FF          */
	image-rendering: -moz-crisp-edges;          /* FF 6.0+                       */
	image-rendering: -webkit-optimize-contrast; /* Safari                        */
	image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+) */
	image-rendering: pixelated;                 /* Awesome future-browsers       */
	-ms-interpolation-mode: nearest-neighbor;   /* IE                            */
}

/*
---------------
	Toolbar
---------------
*/
#toolbar {
    overflow: hidden;
	cursor: default;
	z-index:11;
}

.display-mode #toolbar {
	width:100%;
}
.display-mode #sliceTools {
    margin-top:5px;
}
@media all and (min-width: 532px) {
	.display-mode #plane {
		width: 200px;
		display: inline-block;
	}
	.display-mode #sliceTools {
		width: calc( 100% - 220px );
		display: inline-block;
	}
}
@media not all and (min-width: 532px) {
	.display-mode #plane {
		width: 100%;
		display: block;
	}
	.display-mode #sliceTools {
		width: 100%;
		display: block;
	}
}
.loginRequired {
	display:none;
}
.loggedIn .edit-mode .loginRequired {
	display:inline-block;
}
.display-mode #chatTools {
    display:none;
}

/*
.edit-mode #toolbar {
    position: fixed;
    top: 5px;
    left: 5px;
	width: 230px;
	padding: 2px;
	display: block;
    background-color:rgba(255,255,255,0.5);
}
.edit-mode #plane,
.edit-mode #sliceTools,
.edit-mode #paintTools,
.edit-mode #penSize,
.edit-mode #penColor,
.edit-mode #preciseCursor,
.edit-mode #chatTools {
    margin-top:5px;
}
.edit-mode #plane {
	width: 100%;
	display: block;
}
.edit-mode #sliceTools {
	width: 100%;
	display: block;
}
.edit-mode #chatTools {
    display:inline;
}
#penColor > span{
	display:inline-block;
	float:left;
	width:1.5rem;
	height:1rem;
	border:0;
	padding:2px;
	margin:2px;
	background-color:red;
}
*/
/*
.tb_label {
}
*/


#sliderTool {
	display:table-row;
	vertical-align:middle;
	width:100%;
}
#prevSlice,
#nextSlice {
	display:table-cell;
    width: 32px;
}
#sliderContainer {
	display:table-cell;
	width:100%;
}
#sliceTools {
    width: 100%;
}

input#paint,
input#erase,
input#fill,
button#undo {
    width: 50px;
    height: 26px;
}

#log {
    width: auto;
    margin: 0 0;
    height: 100px;
    border: 1px solid #777;
    overflow: auto;
    background-color: lightGrey;
}
#msg {
    width: 100%;
    border: 1px solid black;
}

.drawingcursor {
    border: 1px solid #F00;
    position: absolute;
    pointer-events:none;
}
.hidepaintcursor {
    display: none;
}

#cursor {
	pointer-events: none;
	position:absolute;
	top:200px;
	left:200px;
	border:thin solid white;
	color:red;
	z-index:1000;
}
#finger {
	display:none;
}
.display-mode #finger {
	display:none;
}
.edit-mode #finger.touchDevice {
	position:absolute;
	top:200px;
	left:250px;
	width:40px;
	height:40px;
	border-style:solid;
	border-width:4px;
	border-radius:50%;
	display:inline;
}
#finger.move {
    border-color:yellow;
}
#finger.draw {
    border-color:green;
}
#finger.configure {
    border-color:orange;
}

.loginRequired {
	width:100%;
}