 * {
 	font-size:14px;
	color:white;
 }
 html,body {
	background-color:#222;
	height:100%;
	margin:0px;
	font: 16px/24px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
 }
 img#logo {
	margin-top:20px;
	margin-bottom:20px;
	margin-left:50%;
	transform:translate(-50%,0);
	width:250px;
 }
 input#url {
	width:calc(100% - 8px);
	height:32px;
	border:0px;
	padding:0px;
	color: black;
 }
 #go {
	 height:30px;
	 width:30px;
	 border:1px solid #ddd;
	 border-radius:6px;
	 color:#ddd;
	 text-align:center;
	 -webkit-appearance:none;
 }
 h1 {
 	font-size: 1rem;
	text-align:center;
 }
 h2, p {
	font-family: sans-serif;
	text-align:center;
 }
 a {
	color:white;
 }
 .linkNoULine {
	text-decoration: none;
	font-weight: lighter;
 }

 #menu {
	position:absolute;
	top:5px;
	right: 5px;
	display: inline-block;
	font: 16px/24px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
 }
 #menu img{
 	margin-left: 15px;
 }
 #MyLogin {
 	display:inline-block;
 	margin-left:15px;
 }
 /*
 #stereotaxic {
	margin-left:50%;
	transform:translate(-50%,0);
 }
 */
/* Login
-----------------------------------------------------------------------------*/
.loginbox {
	border:1px solid lightGrey;
	position:absolute;
	top:10px;
	left:-150px;
	background-color:white;
	padding:20px;
	max-width:80%;
	margin-left: 50%;
	width: 300px;
	line-height:20px;
	box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.5);
	z-index:20;
}
.loginbox * {
	color:black;
}
.loginbox #username,
.loginbox #e-mail,
.loginbox #password,
.loginbox #repassword,
.loginbox #registerLink,
.loginbox #remind,
.loginbox #warning {
	display:block;
}
.loginbox #username,
.loginbox #e-mail,
.loginbox #password,
.loginbox #repassword {
	width:90%;
}
.loginbox #registerLink,
.loginbox #remind {
	text-decoration: none;
	font-size:12px;
	font-weight: normal;
	width:40%;
}
.loginbox #sendLogin, 
.loginbox #register,
.loginbox #cancel {
	border-radius: 1px;
	border:1px solid lightGrey;
	background-color:white;
	height:18px;
	box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.5);
}
/* atlasMaker
-----------------------------------------------------------------------------*/
#atlasMaker {
	color: white;
	font-size:10px;
	height:100%;
}
#atlasMaker #resizable {
	position: relative;
}
#atlasMaker #info {
	position: absolute;
	bottom:0px;
	right:0px;
	width:100%;
	height:100%;
	z-index:11;
	pointer-events: none;
}
#atlasMaker #canvas {
	width:100%;
	height:100%;
	background-color:black;
	cursor:none;

	image-rendering:optimizeSpeed;             /* Legal fallback */
	image-rendering:-moz-crisp-edges;          /* Firefox        */
	image-rendering:-o-crisp-edges;            /* Opera          */
	image-rendering:-webkit-optimize-contrast; /* Safari         */
	image-rendering:optimize-contrast;         /* CSS3 Proposed  */
	image-rendering:crisp-edges;               /* CSS4 Proposed  */
	image-rendering:pixelated;                 /* CSS4 Proposed  */
	-ms-interpolation-mode:nearest-neighbor;   /* IE8+           */
}
#atlasMaker #tools-side {
	position:relative;
	width:100%;
}

#atlasMaker.fullscreen-mode {
	position:absolute;
	top:0px;
	left:0px;
	width: calc( 100% - 240px );	/* width of tools */
	height:100%;
	z-index:10;
}

#atlasMaker.fullscreen-mode #tools-side {
	position:fixed;
	top:0px;
	right:0px;
	width:240px;
	height:100%;
}

/* cursor
------------------------------- */
.drawingcursor {
	border: 1px solid #F00;
	position: absolute;
	pointer-events:none;
}
.hidepaintcursor {
	display: none;
}

#cursor {
	pointer-events: none;
	position:absolute;
	top:200px;
	left:200px;
	border:thin solid white;
	color:red;
	z-index:20;
}
#finger {
	display:none;
}
.display-mode #finger {
	display:none;
}
.edit-mode #finger.touchDevice {
	position:absolute;
	top:200px;
	left:250px;
	width:40px;
	height:40px;
	border-style:solid;
	border-width:4px;
	border-radius:50%;
	display:inline;
}
#finger.move {
	border-color:yellow;
}
#finger.draw {
	border-color:green;
}
#finger.configure {
	border-color:orange;
}

/* chat log
----------------------- */

#log {
	width: auto;
	line-height:1;
	border: 1px solid #777;
	overflow: auto;
	background-color: #333;
}
#msg {
	color: black;
}

.middle {
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
}

/* Label set
------------------------ */
#labelset {
	display:none;
	overflow:scroll;
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	text-align:left;
	background:#333;
	z-index:21;
}
.label-color {
	vertical-align:middle;
	margin:6px;
	display:inline-block;
	width:40px;
	height:30px;
	background-color:rgb(0,0,0);
}
#label-template {
	display:none;
}
#label-list {
	display:flex;
	flex-wrap:wrap;
 	text-align:left;
 }
/* Content: Label Set
---------------------- */
#labelset {
}



/* dataset information
------------------------ */
tr {
	vertical-align:top;
}
tr.selected {
	background-color: #333;
}
table {
	border-collapse:collapse;
}
th {
	font-weight: bold;
	border-bottom:thin solid white;
}
#info td {
	font-weight: normal;
}
#info th, #info td {
	padding:4px;
}
ul {
	list-style-type: none;
	padding:0px;
	margin:0px;
}
li {
	margin-bottom:1rem;
}

/* svg buttons
----------------------- */
img.button {
	width:1rem;
	height:1rem;
	margin:8px 2px;
	vertical-align:middle;
	cursor:pointer;
}
img.button:hover {
	opacity:0.5;
}
img.icon {
	width:1rem;
	height:1rem;
	margin:4px 2px;
	vertical-align:middle;
	cursor:pointer;
}

#NAATlogo {
	position:relative;
	z-index:25;
}

/* Content: Splash
---------------------- */
#splash {
	display:none;
	position:absolute;
	top:0px;
	left:0px;
	background-color:#222;
	width:100%;
	height:100%;
}

/* Content: Data
---------------------- */
#data {
	display:none;
}


select {
	border:none;
	background:none;
	color:white;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
    width: 100px;
    text-overflow: ellipsis;
}

[contentEditable=true]:empty:not(:focus):before {
	content:attr(data-ph);
	color:rgba(255,255,255,0.4);
}