{
    "hostname": "http://localhost:3001",
    "wshostname": "ws://localhost:8080",
    "app_port": 3001,
    "ws_port": 8080,
    "secure": false,
    "ssl_key": "./key.pem",
    "ssl_cert": "./cert.pem",
    "ssl_chain": null
}
