{
    "clientID": "GET YOURS AT https://github.com/settings/applications/new",
    "clientSecret": "GET YOURS AT https://github.com/settings/applications/new",
    "callbackURL": "http://localhost:3001/auth/github/callback"
}
