<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta name="google-site-verification" content="L1xtN9FsDfn0xTs79ssAN_BXfcr6t-wkYW6iFjCOuy8" />
	<link rel="shortcut icon" type="image/x-icon" href="/favicon.png" />
    <title>{{title}}</title>
	<link rel="stylesheet" href="/stylesheets/style.css" />
	<link href='https://fonts.googleapis.com/css?family=Roboto:100' rel='stylesheet' type='text/css'>
	
	<style>
html, #menu, #footer {
    background-color: #111;
}
#footer {
    display: block;
}
.slide {
    display:inline-block;
    width:100%;
    position:relative;
    overflow:hidden;
}
.content {
    display: inline-block;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate( -50% , -50%);
    width:600px;
    max-width: calc( 100% - 20px );
}
#menu {
    position: fixed;
    z-index: 2;
    text-align: right;
    top:0;
    margin-top:0;
    width: 100%;
    display: inline-block;
    font: 16px/24px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    transition: top .5s, opacity .5s;
    -moz-transition: top .5s, opacity .5s;
    -webkit-transition: top .5s, opacity .5s;
}

h2 {
    margin-left:5rem;
    opacity:0;
    transition: margin-left 2s, opacity 2s;
}
	    
/* 'more info' button */
@-moz-keyframes sc-down-a {
  0% {
    -webkit-transform: translateY(0px) rotate(45deg);
    -moz-transform: translateY(0px) rotate(45deg);
    -o-transform: translateY(0px) rotate(45deg);
    -ms-transform: translateY(0px) rotate(45deg);
    transform: translateY(0px) rotate(45deg);
  }
  100% {
    -webkit-transform: translateY(2px) rotate(45deg);
    -moz-transform: translateY(2px) rotate(45deg);
    -o-transform: translateY(2px) rotate(45deg);
    -ms-transform: translateY(2px) rotate(45deg);
    transform: translateY(2px) rotate(45deg);
  }
}
@-webkit-keyframes sc-down-a {
  0% {
    -webkit-transform: translateY(0px) rotate(45deg);
    -moz-transform: translateY(0px) rotate(45deg);
    -o-transform: translateY(0px) rotate(45deg);
    -ms-transform: translateY(0px) rotate(45deg);
    transform: translateY(0px) rotate(45deg);
  }
  100% {
    -webkit-transform: translateY(2px) rotate(45deg);
    -moz-transform: translateY(2px) rotate(45deg);
    -o-transform: translateY(2px) rotate(45deg);
    -ms-transform: translateY(2px) rotate(45deg);
    transform: translateY(2px) rotate(45deg);
  }
}
@-o-keyframes sc-down-a {
  0% {
    -webkit-transform: translateY(0px) rotate(45deg);
    -moz-transform: translateY(0px) rotate(45deg);
    -o-transform: translateY(0px) rotate(45deg);
    -ms-transform: translateY(0px) rotate(45deg);
    transform: translateY(0px) rotate(45deg);
  }
  100% {
    -webkit-transform: translateY(2px) rotate(45deg);
    -moz-transform: translateY(2px) rotate(45deg);
    -o-transform: translateY(2px) rotate(45deg);
    -ms-transform: translateY(2px) rotate(45deg);
    transform: translateY(2px) rotate(45deg);
  }
}
@keyframes sc-down-a {
  0% {
    -webkit-transform: translateY(0px) rotate(45deg);
    -moz-transform: translateY(0px) rotate(45deg);
    -o-transform: translateY(0px) rotate(45deg);
    -ms-transform: translateY(0px) rotate(45deg);
    transform: translateY(0px) rotate(45deg);
  }
  100% {
    -webkit-transform: translateY(2px) rotate(45deg);
    -moz-transform: translateY(2px) rotate(45deg);
    -o-transform: translateY(2px) rotate(45deg);
    -ms-transform: translateY(2px) rotate(45deg);
    transform: translateY(2px) rotate(45deg);
  }
}
.btn-scroll-down {
  width: 100px;
  height: 50px;
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 10;
  -webkit-transition: display 0.5s easy-in-out;
  -moz-transition: display 0.5s easy-in-out;
  -o-transition: display 0.5s easy-in-out;
  -ms-transition: display 0.5s easy-in-out;
  transition: display 0.5s easy-in-out;
}
.btn-scroll-down:before,
.btn-scroll-down:after {
  content: '';
  display: block;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
}
.btn-scroll-down:before {
  bottom: 20px;
  width: 60px;
  height: 60px;
}
.btn-scroll-down:after {
  width: 30px;
  height: 30px;
  bottom: 35px;
  -webkit-animation: sc-down-a 0.3s infinite alternate;
  -moz-animation: sc-down-a 0.3s infinite alternate;
  -o-animation: sc-down-a 0.3s infinite alternate;
  -ms-animation: sc-down-a 0.3s infinite alternate;
  animation: sc-down-a 0.3s infinite alternate;
}

#neuronsImg {
	filter:contrast(150%) brightness(60%);
	-webkit-filter:contrast(150%) brightness(60%);
	position:absolute;top:0;left:0
}
#neurons {
	filter:contrast(150%) brightness(60%);
	-webkit-filter:contrast(150%) brightness(60%);
	position:absolute;top:0;left:0
}
	</style>
</head>

<body>

	<!-- Login (fixed height) -->
    <div id="menu">
        <div style="padding-right:10px">
            <img id="addProject" class="button" title="add project" style='width:13px' src='/img/plus.svg'/>
            <a href="http://openneu.ro/metasearch" target="_blank"><img id="search" class="button" title="search" style='width:13px' src='/img/search.svg'/></a>
            <img id="doc" class="button" title="documentation" style='width:13px' src='/img/doc.svg'/>
            <a href="https://github.com/OpenNeuroLab/BrainBox/issues" target="_blank"><img id="bug" class="button" title="report a bug" style='width:14px' src='/img/bug.svg'/></a>
            <a href="https://github.com/OpenNeuroLab" target="_blank"><img id="github" class="button" title="join our github project" style='width:15px' src='/img/github.svg'/></a>
            <div id="MyLogin">
                <span>{{{login}}}</span>
            </div>
        </div>
    </div>
	
	<!-- Content  -->			
    <div class="slide" style="background:#222">
    <!-- Slide: Landing -->
        <img id="neuronsImg" src="/img/neurons.jpg" width="100%" />
        <video id="neurons" width="100%" autoplay loop>
            <source src="/img/neurons.mp4" type="video/mp4">
        </video>
        <div class="content">
            <img id="logo" src="/img/brainbox-logo.svg" style="text-align:center"/>
            <h2 style='margin-top:0'>Real-time collaboration in neuroimaging</h2>
            <p style='margin-bottom:2rem'>
                BrainBox allows you to visualise, segment and annotate collaboratively
                any brain MRI dataset available online. Segmentations and annotations are
                automatically saved. Point BrainBox to your own nii.gz or mgz data online,
                or participate in the projects created by the community.
            </p>
            <div style="position:relative;text-align:center">
                <input id="url" style="display:block;width:100%;margin-bottom:1rem" type="text" placeholder="Enter the URL of an MRI (.nii.gz or .mgz) and click Go"></input>
                <select id="list" style='width:200px;height:32px;text-align-last:center' class='pushButton'>
                    <option value='' disabled selected hidden>&#9662; A list of brains to try</option>
                    <option value='https://zenodo.org/record/44855/files/MRI-n4.nii.gz'>A Lion from Zenodo</option>
                    <option value='http://files.figshare.com/2284784/MRI_n4.nii.gz'>A Human from FigShare</option>
                    <option value='https://dl.dropbox.com/s/cny5b3so267bv94/p32-f18-uchar.nii.gz'>A 32 days old Ferret from DropBox</option>
                    <option value='https://s3.amazonaws.com/fcp-indi/data/Projects/ABIDE_Initiative/Outputs/freesurfer/5.1/Caltech_0051456/mri/T1.mgz&view=cor&slice=128'>A Subject from the ABIDE Initiative, from Amazon</option>
                </select>
                <div id="go" class="pushButton" style="display:inline-block;width:32px;line-height:30px" onclick="goToURL()">Go</div>
            </div>
        </div>
        
        <!--
        <span class="btn-scroll-down scroll"></span>
        -->
        
    </div>
    <!-- Slide: About
    <div class="slide" style="background:#222">
        <div class="content">
            <p>
                BrainBox is a web application developed by the Group of Applied and
                Theoretical Neuroanatomy –
                <b><a target="_blank" href="http://neuroanatomy.github.io">NAAT</a></b> –
                for the Open Neuroimaging Laboratory Project. BrainBox allows you to
                collaboratively visualise and segment brain MRI data available online.
                Segmentations are automatically saved and can be downloaded as Nifti files or
                triangular meshes. Point BrainBox to your own Nifti data, or try data catalogues
                created by the community.
            </p>
        </div>
    </div>
    -->
    <!-- Slide: Brains to try
    <div class="slide" style="background:#111">
        <div id="intro" class="content">
        </div>
    </div>
    -->
    <!-- End Content-->

	<!-- Footer (fixed height) -->
    <div id="footer">
		<p style="width:100%;font-size:small;text-align:center"> 
			<a target="_blank" href="http://neuroanatomy.github.io">
				<img src="/img/naat-bw.svg" style="width:28px;height:28px;margin-right:4px;display:inline-block;vertical-align:middle"/></a>
			<a target="_blank" href="http://neuroanatomy.github.io" class="linkNoULine">
				group de neuro anatomie appliquée et théorique
			</a>
		</p>
	</div>
	<!-- End Footer -->

<script src="/lib/jquery-3.1.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="/lib/introjs/introjs.css" />
<script src="/lib/introjs/intro.js"></script>
<script src="/js/brainbox.js"></script>
<script src="/js/brainbox-intro.js"></script>

<script>

testWebSockets()
.then(function(m) {
    console.log("Connection to websockets is ok");
})
.catch(function(m) {
    alert(m);
});

// intro.js test
// startIntro();

$(".slide").height(window.innerHeight);
$(window).on('resize',function() {
    $(".slide").height(window.innerHeight);
    $("#neurons").css({width:window.innerWidth});
});

// video settings
var vid = document.getElementById("neurons");
vid.playbackRate = 0.5;
vid.onloadedmetadata = function() {
    $("#neurons").css({width:window.innerWidth});
};

// List of brains
$("#list").change(function(e) {
    $("#url").val($("#list").val());
});

var menuShowing = true;
$(window).on('scroll',function() {
    var y = window.pageYOffset;
    if(y>100 && menuShowing) {
        $("#menu").css({top:-32, opacity:0});
        menuShowing = false;
        
        $("#footer").show();
    }
    if(y<100 && !menuShowing) {
        $("#menu").css({top:0, opacity:1});
        menuShowing = true;
    }
});

$("h2").css({marginLeft:0,opacity:1});

$("#login").click(function(){$.get("/login",function(r){console.log(r)})});
$("#logout").click(function(){$.get("/logout",function(r){console.log(r)})});

var version=1;
var brainsToTry=[
	"https://zenodo.org/record/44855/files/MRI-n4.nii.gz",
	"http://files.figshare.com/2284784/MRI_n4.nii.gz",
	"https://dl.dropbox.com/s/cny5b3so267bv94/p32-f18-uchar.nii.gz",
	"https://fcp-indi.s3.amazonaws.com/data/Projects/ABIDE_Initiative/RawData/NYU/0050952/session_1/anat_1/mprage.nii.gz"
]

// Present the history in localStorage if it exists.
	if(localStorage.AtlasMaker) {
		var stored=JSON.parse(localStorage.AtlasMaker);
		if(stored.version && stored.version==version) {
			var str = "<br/><p><b>Recently visited</b><br/>";
			for(var i=stored.history.length-1;i>=Math.max(0,stored.history.length-10);i--) {
				str += "<a href='"+location+"mri?url="+stored.history[i].url+"'>"+stored.history[i].url+"</a><br />";
				
				/**
				 * @todo Add image thumbnails
				 */
				/**/
				if(stored.history[i].img) {
				    $("#intro").append('<img src="'+stored.history[i].img+'"/>');
				}
				/**/
			}
			str += "</p>";
			$("#intro").append(str);
		} else {
			localStorage.clear();
		}
	}
	if(localStorage.AtlasMaker==undefined || stored.history.length<5) {
		var str="<br/><p><b>Some brains to try</b><br/>";
		for(var i=0;i<brainsToTry.length;i++) {
			str+="<a href='"+location+"mri?url="+brainsToTry[i]+"'>"+brainsToTry[i]+"</a><br />";
		}
		str+="</p>";
		$("#intro").append(str);
	}

// Add URL loading
    $("#url").keyup(function(e) {
        //console.log(e,e.target);
        if (e.keyCode == 13) {
            goToURL(e);
        }
    });

// Connect addProject button
    $("#addProject").click(function(){location="/project/new"});

function goToURL(e) {
	var url=$("#url").val();
	location="/mri?url="+url;
}
/**
 * @function testWebSockets
 */
function testWebSockets() {
    var def = $.Deferred();
    var host = "ws://ws.websocketstest.com:8080/service";
    var ws;

    if (window.WebSocket) {
        ws=new WebSocket(host);
    } else if (window.MozWebSocket) {
        ws=new MozWebSocket(host);
    } else {
        def.reject("BrainBox requires access to WebSockets, but this web browser does not support them. Try Firefox, Chrome or Safari.");
    }
    ws.onopen = function(e) {
        ws.close();
        def.resolve("Connection ok");
    };
    ws.onerror = function(e) {
        def.reject("BrainBox requires access to WebSockets, but your connection does not allow it. Ask your provider to allow WebSockets on port 8080");
    };
    return def;
}

</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-50078058-2', 'auto');
  ga('send', 'pageview');

</script>

</body>
</html>
