<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"> 
	<link rel="shortcut icon" type="image/x-icon" href="/favicon.png" />
    <title>{{title}}</title>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<link rel="stylesheet" href="/stylesheets/style.css" />
	<link href='https://fonts.googleapis.com/css?family=Roboto:100' rel='stylesheet' type='text/css'>
	<script src="http://code.jquery.com/jquery-2.2.4.min.js"></script>

	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>



	<style>
	.selection-header {
		padding-bottom:4px;
		text-align:left;
		cursor: pointer;
		height:20px;
	}
	.tab.selected {
		background:#333;
	}
	.tabContent {
	    margin-left:10px;
	}
	tr.selected{
		background-color:#444;
	}
	#MRIFiles, #atlasFiles, #access {
		color:white;
		text-align:left;
		width:100%;
		border-collapse:collapse;
	}
	#MRIFiles tr, #atlasFiles tr, #access tr {
		margin:0px 4px;
	}
	#MRIFiles, #atlasFiles, #access,
	#MRIFiles th, #atlasFiles th, #access th {
		border-bottom:thin solid white;
	}
	#MRIFiles a, #atlasFiles a, #access a {
		text-decoration:none;
	}
	.dropdown {
		border:none;
		border-radius: 0px;
		outline: none;
		padding: 0px 0px 5px 0px;
		vertical-align: bottom;
	}

	.ui-widget.ui-widget-content{
		background: #222;
		color: white;
		border: none;
	}

	.ui-widget-header:active {
		border:none;
	}

	.ui-state-active,
    .ui-widget-content .ui-state-active,
    .ui-widget-header .ui-state-active,
    a.ui-button:active,
    .ui-button:active,
    .ui-button.ui-state-active:hover {
        background: #555 !important;
		color:white;
		border: none;
		outline: none;
		display: block;
    }
 
	li div {
	  	color: white; /* text color */
	  	border:none;
	  	margin: none;
	  	padding: none;
	}
	/*body {
		background-color: #333;
	}*/

	/* view */
	.view, .edit, .add, .remove {
		cursor: pointer;
	}
	[data-level="0"] .view:before {
		background-image: url("/img/eye.svg");
		background-size: 15px 15px;
		width: 15px;
		height: 15px;
		content:"";
		display:inline-block;
		text-decoration: none;
	}

	[data-level="1"] .view:before, [data-level="2"] .view:before, [data-level="3"] .view:before, [data-level="4"] .view:before {
		background-image: url("/img/eye-circle.svg");
		background-size: 15px 15px;
		width: 15px;
		height: 15px;
		content: "";
		display:inline-block;
		text-decoration: none;
	}

	/* edit */
	[data-level="0"] .edit:before, [data-level="1"] .edit:before {
		background-image: url("/img/pencil.svg");
		background-size: 15px 15px;
		width: 15px;
		height: 15px;
		content:"";
		display: inline-block;
		text-decoration: none;
	}
	[data-level="2"] .edit:before, [data-level="3"] .edit:before, [data-level="4"] .edit:before {
		background-image: url("/img/pencil-circle.svg");
		background-size: 15px 15px;
		width: 15px;
		height: 15px;
		content:"";
		display: inline-block;
	}

	/* add */
	[data-level="0"] .add:before, [data-level="1"] .add:before, [data-level="2"] .add:before {
		background-image: url("/img/plus-small.svg");
		background-size: 15px 15px;
		width: 15px;
		height: 15px;
		content:"";
		display: inline-block;
	}
	[data-level="3"] .add:before, [data-level="4"] .add:before {
		background-image: url("/img/plus-small-circle.svg");
		background-size: 15px 15px;
		width: 15px;
		height: 15px;
		content:"";
		display: inline-block;
	}

	/* remove */
	[data-level="0"] .remove:before, [data-level="1"] .remove:before, [data-level="2"] .remove:before, [data-level="3"] .remove:before {
		background-image: url("/img/minus-small.svg");
		background-size: 15px 15px;
		width: 15px;
		height: 15px;
		content:"";
		display: inline-block;
	}
	[data-level="4"] .remove:before {
		background-image: url("/img/minus-small-circle.svg");
		background-size: 15px 15px;
		width: 15px;
		height: 15px;
		content:"";
		display: inline-block;
	}

	</style>

</head>

<body>

<div style="width:100%;height:100%;display:flex;flex-direction:column">
	
	<!-- Header -->
	<div style="flex:0 0 100px">
		<a href='/'>
			<img style='position:fixed;left:10px;top:5px;width:200px' src='/img/brainbox-logo-small_noFont.svg'/>
		</a>
		<div style="position:fixed;left:73px;top:21px;width:auto; font-family: Roboto, sans-serif; font-size: 36px; font-weight:300">
			{{nickname}}
		</div>
		<div id="menu">
			<img id="addProject" title="add project" style='width:13px' src='/img/plus.svg'/>
			<img id="settings" title="settings" style='width:13px' src='/img/settings.svg'/>
			<img id="search" title="search" style='width:13px' src='/img/search.svg'/>
			<img id="doc" title="documentation" style='width:13px' src='/img/doc.svg'/>
			<div id="MyLogin">
				<span>{{{login}}}</span>
			</div>
		</div>
	</div>
	
	<!-- Content (variable height) -->
	<div id="content" style="flex:1 0 auto;justify-content:center">
	
		<table style="margin:auto;width:1000px">
			<tr>
				<td style="width:250px;margin:1rem;vertical-align:top">
					<div style="background:#333;width:200px;height:200px;margin-left:25px">
						<img src='{{{avatar}}}' style="width:100%"/>
					</div>
					<h1>{{project}} project</h1>
					<h2> link to project's website</h2>
					<p>little project description</p>
					<p>{{numMRI}} MRI Files
					<p>{{numAtlas}} Atlas Files
					<p>{{username}} Owner
					<p>{{numCollaborators}} Collaborators
				</td>			
				<td style="margin:1rem;vertical-align:top">
					<div style="width:100%">
												
						<div style="width:100%;min-height:400px;background:#333;padding:20px; text-decoration:none">
						
							<!-- Tab Content 1: Access -->
							<h2 class="selection-header">Access</h2>
							<table id="access" class="tabContent" style="padding:10px;display:table">
								<thead>
									<tr>
										<th>Nickname</th>
										<th>Name</th>
										<th>Collaborators</th>
										<th>Annotations</th>
										<th>MRI Files</th>
									<tr>
								</thead>
								<tbody>
									{{#collaborators}}
										<tr>
											<td style="padding-top:5px">
												<a href="/user/{{username}}">
													{{username}}
												</a>
											</td>
											<td style="padding-top:5px">{{name}}</td>
											<td>
												<!-- data level: access level from 0 to 4; access cascade: no access > view > edit > add > remove -->
												<!-- for the collaborators -->
												<div class="access" data-level=2 style="padding-top:5px; text-decoration:none; border:none">
													<span class="view" title="view collaborators" style="padding:5px 5px 5px 0px"></span>
													<span class="edit" title="edit list of collaborators" style="padding:5px 5px 5px 0px"></span>
													<span class="add" title="add collaborators" style="padding:5px 5px 5px 0px"></span>
													<span class="remove" title="remove collaborators" style="padding-top:5px 5px 5px 0px"></span>
												</div>
											</td>
											<td>
												<!-- for the annotations -->
												<div class="access" data-level=2 style="padding-top:5px; text-decoration:none; border:none">
													<span class="view" title="view atlas files" style="padding:5px 5px 5px 0px"></span>
													<span class="edit" title="edit atlas files" style="padding:5px 5px 5px 0px"></span>
													<span class="add" title="add atlas files" style="padding:5px 5px 5px 0px"></span>
													<span class="remove" title="remove atlas files" style="padding:5px 5px 5px 0px"></span>
												</div>
											</td>
											<td>
												<!-- for the MRI files --> 
												<div class="access" data-level=2 style="padding-top:5px; text-decoration:none; border:none">
													<span class="view" title="view MRI files" style="padding:5px 5px 5px 0px"></span>
													<span class="edit" title="edit MRI files"  style="padding:5px 5px 5px 0px"></span>
													<span class="add" title="add MRI files" style="padding:5px 5px 5px 0px"></span>
													<span class="remove" title="remove MRI files" style="padding:5px 5px 5px 0px"></span>
												</div>
											</td>
										</tr>
									{{/collaborators}}
									<tr>
											<td id="nameDropdown" class="noEmpty dropdown" contenteditable="true"></td>
											<td id="fullnameDropdown" class="noEmpty dropdown" contenteditable="true"></td>
											<td>
												<!-- data level: access level from 0 to 4; access cascade: no access > view > edit > add > remove -->
												<!-- for the collaborators -->
												<div class="access" data-level=2 style="padding-top:5px; text-decoration:none; border:none">
													<span class="view" title="view collaborators" style="padding:5px 5px 5px 0px"></span>
													<span class="edit" title="edit list of collaborators" style="padding:5px 5px 5px 0px"></span>
													<span class="add" title="add collaborators" style="padding:5px 5px 5px 0px"></span>
													<span class="remove" title="remove collaborators" style="padding-top:5px 5px 5px 0px"></span>
												</div>
											</td>
											<td>
												<!-- for the annotations -->
												<div class="access" data-level=2 style="padding-top:5px; text-decoration:none; border:none">
													<span class="view" title="view atlas files" style="padding:5px 5px 5px 0px"></span>
													<span class="edit" title="edit atlas files" style="padding:5px 5px 5px 0px"></span>
													<span class="add" title="add atlas files" style="padding:5px 5px 5px 0px"></span>
													<span class="remove" title="remove atlas files" style="padding:5px 5px 5px 0px"></span>
												</div>
											</td>
											<td>
												<!-- for the MRI files --> 
												<div class="access" data-level=2 style="padding-top:5px; text-decoration:none; border:none">
													<span class="view" title="view MRI files" style="padding:5px 5px 5px 0px"></span>
													<span class="edit" title="edit MRI files"  style="padding:5px 5px 5px 0px"></span>
													<span class="add" title="add MRI files" style="padding:5px 5px 5px 0px"></span>
													<span class="remove" title="remove MRI files" style="padding:5px 5px 5px 0px"></span>
												</div>
											</td>
										</tr>
								</tbody>
							</table>
							<div style="text-align:right">
								<img class="button" src='/img/plus-circle.svg' onclick="addRow()" />
								<img class="button" src='/img/minus-circle.svg' onclick="removeRow()" />
							</div>
							
							
							<!-- Tab Content 2: Annotations -->
							<h2 class="selection-header">Annotations</h2>
							<table id="atlasFiles" class="tabContent" style="padding:10px">
								<thead>
									<tr>
										<th>Name</th>
										<th>Type</th>
										<th>Value</th>
									<tr>
								</thead>
								<tbody>
									{{#atlasFiles}}
										<tr>
											<td>
												<a href="/mri?url={{url}}">
													{{#parentName}}{{parentName}}{{/parentName}}{{^parentName}}{{url}}{{/parentName}}
												</a></td>
											<td class='noEmpty'>{{name}}</td>
											<td><a href="{{projectURL}}" class='noEmpty'>{{project}}</a></td>
											<td>{{modified}}</td>
										</tr>
									{{/atlasFiles}}
								</tbody>
							</table>
							
							<!-- Tab Content 3: MRIs -->
							<h2 class="selection-header">MRI Files</h2>
							<table id="MRIFiles" class="tabContent" style="padding:10px">
								<thead>
									<tr>
										<th>Name</th>
										<th>URL</th>
									<tr>
								</thead>
								<tbody>
									{{#MRIFiles}}
										<tr>
											<td>
												<a href="/mri?url={{url}}">
													{{#name}}{{name}}{{/name}}{{^name}}{{url}}{{/name}}
												</a>
											</td>
											<td>
												<a href="/mri?url={{url}}">
													{{#url}}{{url}}{{/url}}
												</a>
											</td>
										</tr>
									{{/MRIFiles}}
								</tbody>
							</table>



	
						</div>
					</div>
				</td>
			</tr>
		</table>
	</div>
	<!-- End Content -->
	
	<!-- Space (fixed height) -->
	<div style="flex:0 0 50px">
	</div>

	<!-- Footer (fixed height) -->
	<div style="flex:0 0 100px;background-color:#000">
		<p style="width:100%;font-size:small;text-align:center"> 
			<a target="_blank" href="http://neuroanatomy.github.io">
				<img src="/img/naat-bw.svg" style="width:28px;height:28px;margin-right:4px;display:inline-block;vertical-align:middle"/></a>
			<a target="_blank" href="http://neuroanatomy.github.io" class="linkNoULine">
				group de neuroanatomie appliquée et théorique
			</a>
		</p>
	</div>
	
</div>

<script>
	//var newProjInfo='{{{newProjInfo}}}';
	//newProjInfo=JSON.parse(newProjInfo);
	
	$(".view").click(onViewClicked);
	$(".edit").click(onEditClicked);
	$(".add").click(onAddClicked);
	$(".remove").click(onRemoveClicked);
	$("#access tbody tr").click(selectRow);
	/**
	 * @todo add onblur event to the dropdown menu so it empties the content
	 */

	
$(function(){
	var users = ["katjaq", "r03rt0", "fdelencl42", "pithosaumon", "aniv0s"];
	$("#nameDropdown").autocomplete({source:users});
});


var selected;
function selectRow(e)
{
	$("#access tbody tr").each(function(index, tag){
		$(tag).removeClass("selected");})
	$(e.currentTarget).addClass("selected");
	selected = e.currentTarget;
}

function addRow()
{
	console.log("addRow");
}

function removeRow()
{
	console.log(selected);
}

function onViewClicked( e ) {
	// access level 
	var al = $( e.target ).closest( "div" ).attr( "data-level" );

	if( al < 1 || al > 1 ) {
		console.log( "view" );
		$( e.target ).closest( "div" ).attr( "data-level","1" );
	}
	else {
		console.log( "no view rights" );
		$( e.target ).closest( "div" ).attr( "data-level","0" );
	}
}

function onEditClicked( e ) {
	// access level
	var al = $( e.target ).closest( "div" ).attr( "data-level" );

	if( al < 2 || al > 2 ) {
		console.log( "edit" );
		$( e.target ).closest( "div" ).attr( "data-level","2" );
	}
	else {
		console.log( "no edit rights" );
		$( e.target ).closest( "div" ).attr( "data-level","1" );
	}
}

function onAddClicked( e ) {
	// access level
	var al = $( e.target ).closest( "div" ).attr( "data-level" );

	if( al < 3 || al > 3 ) {
		console.log( "add" );
		$( e.target ).closest( "div" ).attr( "data-level","3" );
	}
	else {
		console.log( "no add rights" );
		$( e.target ).closest( "div" ).attr( "data-level","2" );
	}
}

function onRemoveClicked( e ) {
	// access level
	var al = $( e.target ).closest( "div" ).attr( "data-level" );

	if( al < 4 ) {
		console.log( "remove" );
		$( e.target ).closest( "div" ).attr( "data-level","4" );
	}
	else {
		console.log( "no remove rights" );
		$( e.target ).closest( "div" ).attr( "data-level","3" );
	}
}

</script>

</body>
</html>
