<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"> 
	<link rel="shortcut icon" type="image/x-icon" href="/favicon.png" />
    <title>{{title}}</title>
	<link rel="stylesheet" href="/stylesheets/style.css" />
	<link href='https://fonts.googleapis.com/css?family=Roboto:100' rel='stylesheet' type='text/css'>

	<style>
	#projectFiles {
		overflow:scroll;
	}
	.block {
		border:thin solid #555;
		padding: 5px;
	}
	#right {
	    background-color: black;
	}
	</style>

</head>

<body>

<div style="width:100%;height:100%;display:flex;flex-direction:column;align-items:stretch">
	
	<!-- Header -->
	<div style="flex:0 0 100px">
		<a href='/'>
			<img style='position:fixed;left:10px;top:5px;width:200px' src='/img/brainbox-logo-small_noFont.svg'/>
		</a>
		<div style="position:fixed;left:73px;top:21px;width:auto; font-family: Roboto, sans-serif; font-size: 36px; font-weight:300">
			{{projectName}}
		</div>
		<div id="menu">
			<img id="addProject" title="Add project" style='width:13px' src='/img/plus.svg'/>
			<img id="settings" title="Settings" style='width:13px' src='/img/settings.svg'/>
			<img id="search" title="Search" style='width:13px' src='/img/search.svg'/>
			<img id="doc" title="Documentation" style='width:13px' src='/img/doc.svg'/>
			<div id="MyLogin">
				<span>{{{login}}}</span>
			</div>
		</div>
	</div>
	
	<!-- Content -->
	<div id="content" style="flex:1 1 auto;position:relative">
		<div style="display:flex;width:100%;height:100%;align-items:stretch;position:absolute">

			<div id="left" style="flex:0 0 400px;position:relative">
			
				<div style="display:flex;flex-direction:column;height:100%">
					<!-- Tools -->
					<div id="tools" class="block" style="flex:1 0 auto">
					</div>
				
					<!-- Project Files -->
					<div id="projectFiles" class="block" style="flex:1 1 auto">
						<table style="width:100%;text-align:left">
							<thead>
								<tr>
									<th>Name</th>
									<th>File</th>
									<th>QC</th>
									<th>QC Comment</th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
				
					<!-- File Annotations -->
					<div id="annotations" class="block" style="flex:1 1 200px">
						<table id="info" style="width:100%;text-align:left">
							<thead>
								<tr>
									<th>Name</th>
									<th>Label Set</th>
									<th>Owner</th>
								</tr>
							</thead>
						</table>
					</div>
				</div>
				
				<div id="resizeButton" class="block">
				</div>
				
			</div>
			
			<div id="right" style="flex:1 0;position:relative">
				<div id="stereotaxic" style="width:100%">
				</div>
				
				<style>
				    @-webkit-keyframes loading {
                        0% {left: 40%;}
                        50% {left: 60%;}
                        100% {left: 40%;}
                    }
                    #loadingIndicator {
                        display:none;
                        position:absolute;
                        left:0;
                        top:0;
                        width:100%;
                        height:100%;
                        background:rgba(0,0,0,0.5);
                    }
                    #loadingIndicator .disc {
                        position:absolute;
                        left:50%;
                        transform:translate( -50% , 0 );
                        width:8px;
                        height:8px;
                        border-radius:8px;
                        background:white;
                        -webkit-animation-name: loading;
                        -webkit-animation-duration: 1s;
                        -webkit-animation-iteration-count: infinite;
                        -webkit-animation-timing-function: ease-in-out;
                        animation-name: loading;
                        animation-duration: 1s;
                        animation-iteration-count: infinite;
                        animation-timing-function: ease-in-out;
                    }
				</style>
				
				<div id="loadingIndicator">
				    <p>Loading...</p>
				    <div class="disc"></div>
				</div
			</div>

		</div>
	</div>
	<!-- NAAT logo down right corner -->
	<div id="NAATlogo" class="project-page">
		<a target="_blank" href="http://neuroanatomy.github.io">
			<img src="/img/naat-bw.svg" style="width:28px;height:28px;margin-right:4px;display:inline-block;vertical-align:middle"/>
		</a>
	</div>
</div>

<!-- Labels -->
<div id="labelset">
	<div style="z-index:23;text-align:right">
		<img id="labels-close" class="button" src="/img/times-circle.svg"/>
	</div>

	<ul style="padding-left:1rem">
		<li>
			<b>Label Set</b><br/>
			<span id="labels-name"></span>
		</li>
		<li>
			<b>Labels</b><br/>
			<div id="label-list">
			</div>
			<div id="label-template">
				<div class="label-color"></div>
				<span class="label-name">Label Name</name>
			</div>
		</li>
	</ul>
</div>
<!-- End Labels -->


<script src="/lib/jquery-1.11.0.min.js"></script>
<script src="/lib/pako/pako.min.js"></script>
<script src="/lib/purify.min.js"></script>
<script src="/js/twoWayBinding.js"></script>
<script src="/js/brainbox.js"></script>
<script>
var str;

function loadProjectFile(url) {
	var params={url:url,view:"cor",slice:180,fullscreen:false};
	$.get("/mri/json",{url:url})
	.done(function from_loadProjectFile(data) {
	    if($.isEmptyObject(data) === false) {
            params.info=data;
            BrainBox.configureBrainBox(params)
        } else {
            var info=AtlasMakerWidget.container.find("#info");
            info.html("<text x='5' y='15' fill='white'>ERROR: File is unreadable</text>");
            console.log("ERROR: Cannot read data. The file is maybe corrupt?");
        }
	})
	.then(function from_loadProjectFile() {
		// binding prototype
		var info_proxy={};
		var aParam = {
			table: $("table#info"),
			info_proxy: info_proxy,
			info: BrainBox.info,
			trTemplate: $.map([
				"<tr>",
				" <td></td>",
				" <td><select>",BrainBox.labelSets.map(function(o){return "<option>"+o.name+"</option>"}),"</select></td>",	// append label sets
				" <td><a></a></td>",
				"</tr>"],function(o){return o}).join(),
			objTemplate: [
				{	typeOfBinding:1,
					path:"mri.atlas.#.name"
				},
				{	typeOfBinding:1,
					path:"mri.atlas.#.labels",
					format: function(e,d){$(e).find("select").prop('selectedIndex',$.map(BrainBox.labelSets,function(o){return o.source}).indexOf(d))},
					parse: function(e){var name=$(e).find("select").val(),i=$.map(BrainBox.labelSets,function(o){return o.name}).indexOf(name);return BrainBox.labelSets[i].source}
				},
				{	typeOfBinding:1,
					path:"mri.atlas.#.owner",
					format: function(e,d){$.get("/user/json/"+d.split("/").pop()+"?var=nickname",function(r){$(e).text(r);$(e).attr('href',d)})}
				}
			]
		};

		// bind interface
		for(var i=0;i<BrainBox.info.mri.atlas.length;i++)
			BrainBox.appendAnnotationTableRow(i,aParam);

		// select the first annotation by default
		// (should be read from project settings)
		$("#annotations tbody tr:eq(0)").addClass("selected");
	});
}

/*
// Init login widget
MyLoginWidget.init($("#MyLogin"));
*/

/*
	This variable contains project metadata
	and is filled by the server, from the database.
*/
var projectInfo={{{projectInfo}}};

$("#projectName").text(projectInfo.name);
$("#projectOwner").html("<a href='"+projectInfo.owner+"'>"+projectInfo.owner+"</a>");
var creation=new Date(projectInfo.created);
$("#projectCreated").text("Created on "+creation.toLocaleString());
$("#projectFilesNumber").text(projectInfo.files.list.length+" Files");
$("#projectCollaboratorsNumber").text(projectInfo.collaborators.length+" Collaborators");

/*
	The list of all collaborators participating in the project
	(should be recovered from the database)
*/
str=[	"<tr>",
		"<th>Name</th>",
		"<th>Last visited</th>",
		"<tr>"].join();
for(var i=0;i<projectInfo.collaborators.length;i++) {
	str+=[	"<tr>",
			"	<td>",
			"		<a href='"+projectInfo.collaborators[i]+"'>"+projectInfo.collaborators[i]+"</a>",
			"	</td>",
			"	<td>14 July 2016</td>",
			"</tr>"].join("");
}
$("#collaborators").append(str);

/*
	The list of all files included in the project
*/
str=[];
for(var i=0;i<projectInfo.files.list.length;i++) {
	var filename=projectInfo.files.list[i].source.split("/").pop();
	str+=[	"<tr>",
			"	<td contentEditable=true class='noEmpty'></td>",
			"	<td><a href='"+location.origin+"/mri?url="+projectInfo.files.list[i].source+"'>"+filename+"</a></td>",
			"	<td contentEditable=true class='noEmpty'></td>",
			"	<td contentEditable=true class='noEmpty'></td>",
			"</tr>"].join("");
}
$("#projectFiles tbody").append(str);
for(var i=0;i<projectInfo.files.list.length;i++) {
	$("#projectFiles tbody tr:eq("+i+") td:eq(0)").text(projectInfo.files.list[i].name);
}

// select first file by default (should come from localStorage)
var url=projectInfo.files.list[0].source;	
$("#projectFiles tbody tr:eq(0)").addClass("selected");

BrainBox.initBrainBox()
.then(function from_project(){return BrainBox.loadLabelsets()})
.then(function from_project(){return loadProjectFile(url)})
.then(function from_project(){
	$("#tools-side").detach().appendTo('#tools');
	// connect colours close button
	$(document).on('click', "#labels-close", function(){$("#labelset").hide()});
});

// listen to changes in file selection by clicking of the file table
$(document).on('click', "#projectFiles tbody tr",function() {
	console.log(">> selectProjectFilesTableRow()");

	var table=$(this).closest("table");
	var currentIndex=$(table).find("tr.selected").index();
	var index=$(this).index();
	var nodeName=$(this).prop('nodeName');

	if(index>=0 && currentIndex!=index) {
		console.log(">>  change selected file:",index);
		$(table).find("tr").removeClass("selected");
		$(this).addClass("selected");
		
		// new url
		url=projectInfo.files.list[index].source;
		
		// remove table with previous annotations
		$("table#info tbody").html("");

		// load and bind new file
		loadProjectFile(url);
	}
});

// listen to changes in file selection by pressing the up/down arrows
$(document).on('keydown', function(e){
	var table=$("#projectFiles tbody");
	var index=$(table).find("tr.selected").index();
	
	if(e.keyCode!=38 && e.keyCode!=40)
		return;

	switch(e.keyCode) {
		case 38: // up
			index=(index+projectInfo.files.list.length-1)%projectInfo.files.list.length;
			break;
		case 40: // down
			index=(index+1)%projectInfo.files.list.length;
			break;
	}
	console.log(">>  change selected file:",index);
	$(table).find("tr").removeClass("selected");
	$(table).find("tr:eq("+index+")").addClass("selected");
	
	// new url
	url=projectInfo.files.list[index].source;
	
	// remove table with previous annotations
	$("table#info tbody").html("");

	// load and bind new file
	loadProjectFile(url);
});

// listen to changes in selected annotation
$(document).on('click', "#info tbody tr",BrainBox.selectAnnotationTableRow);

// resize left tool bar
$("#resizeButton").data({flag:-1,x0:0,y0:0});
$("#resizeButton").on('mousedown',function(e){$(this).data({flag:0,x0:e.pageX,y0:e.pageY})});
$("body").on('mousemove',function(e) {
	var p={x:e.pageX,y:e.pageY};
	if($("#resizeButton").data("flag")==0) {
		$("#resizeButton").data({flag:1,x0:p.x,y0:p.y});
	} else if($("#resizeButton").data("flag")==1) {
		var d=$("#resizeButton").data("x0")-p.x;
		$("#left").css({'flex-basis':$("#left").width()-d});
		$("#resizeButton").data({x0:p.x,y0:p.y});
		AtlasMakerWidget.resizeWindow();
	}
});
$("body").on('mouseup',function(e){$("#resizeButton").data({flag:-1})});

</script>

</body>
</html>
