<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"> 
	<link rel="shortcut icon" type="image/x-icon" href="/favicon.png" />
    <title>{{title}}</title>
	<link rel="stylesheet" href="/stylesheets/style.css" />
	<link href='https://fonts.googleapis.com/css?family=Roboto:100' rel='stylesheet' type='text/css'>

	<style>
	.tab {
		padding-right:12px;
		padding-left:12px;
		padding-bottom:4px;
		cursor: pointer;
		height:20px;
	}
	.tab.selected {
		background:#333;
	}
	td {
	    word-break: break-word;
	}
	#MRIFiles, #atlasFiles, #projects {
		color:white;
		text-align:left;
		width:100%;
		border-collapse:collapse;
	}
	#MRIFiles td, #atlasFiles td, #projects td,
	#MRIFiles th, #atlasFiles th, #projects th {
		padding:0px 4px;
	}
	#MRIFiles, #atlasFiles, #projects,
	#MRIFiles th, #atlasFiles th, #projects th {
		border-bottom:thin solid white;
	}
	#MRIFiles a, #atlasFiles a, #projects a {
		text-decoration:none;
	}

	/************************* link to project settings  ********************/
	/* when hovering over project name */
	.settings {
		opacity: 0.5;
		transition: opacity 500ms;
	}
	.projectName:hover + .settings {
		opacity: 0.7;
	}
	.settings:hover {
		opacity: 1.0;
	}


	/*************************** resizable layout **************************/
    #centeringDiv {
        position:relative;
        display:block;
        margin:0 auto;
    }
	#userImage {
        position:relative;
		display: inline-block;
		background:#333;
		width:200px;
		height:200px;
		vertical-align: top;
	}
	#userDescription {
		position: relative;
		display: inline-block;
        vertical-align: top;
	}
	#userDescription p {
	    margin: 0;
	}
	#userTable {		
		position: relative;
		display:inline-block;
		min-height:400px;
		max-width: 900px;
		text-decoration:none;
        vertical-align: top;
        margin-top: 20px;
	}
	
	/* for larger screen (computer, big iPad, small iPad landscape) */
	@media all and (min-width: 1023px) {
		#centeringDiv {
			width:984px;
			padding:20px;
		}
        #userImage {
            float: left;
        }
		#userDescription {
			float: left;
			clear: both;
			width: 200px;
		}		
		#userTable {
			max-width: 900px;
			width: calc(100% - 220px);
			margin-left: 20px;
			margin-top: 0px;
		}
	}

	/* for smaller screen (small iPad portrait) */ 
	@media not all and (min-width: 1023px) {
		#centeringDiv {
			width:700px;
			padding:20px;
		}
		#userDescription {
			position: relative;
			top: 0px;
			left: 0px;
			padding-left:20px;
			padding-right: 20px;
			width:calc(100% - 300px);
			text-align: justify;
		}
		#userTable {
			position: relative;
			max-width: 700px;
			width:calc(100% - 40px);
			top: 0px;
			left: 0px;
		}
	}

	/* for even smaller screen (phone) */ 
	@media not all and (min-width: 739px) {
		#centeringDiv {
			text-align: center;
			width:600px;
			padding:10px;
		}
		#userDescription {
			position: relative;
			top: 0px;
			left: 0px;
			padding-left:10px;
			width:calc(100% - 20px);
			text-align: justify;
		}
		#userTable {
			position: relative;
			max-width: 600px;
			width:calc(100% - 40px);
			top: 0px;
			left: 0px;
		}
	}

	/* for even still smaller screen (phone) */ 
	@media not all and (min-width: 639px) {
		#centeringDiv {
			text-align: center;
			width:480px;
			padding:10px;
		}
		#userDescription {
			position: relative;
			top: 0px;
			left: 0px;
			padding-left:10px;
			width:calc(100% - 20px);
			text-align: justify;
		}
		#userTable {
			position: relative;
			max-width: 420px;
			width:calc(100% - 40px);
			top: 0px;
			left: 0px;
		}
	}
	</style>

</head>

<body>

<div style="width:100%;height:100%;display:flex;flex-direction:column">
	
	<!-- Header (fixed height) -->
	<div style="flex:0 0 64px">
	    <!-- Top-right menu bar -->
		<div id="menu">
			<img id="addProject" class="button" title="add project" style='width:13px' src='/img/plus.svg'/>
            <a href="http://openneu.ro/metasearch" target="_blank"><img id="search" class="button" title="search" style='width:13px' src='/img/search.svg'/></a>
			<img id="doc" class="button" title="documentation" style='width:13px' src='/img/doc.svg'/>
			<a href="https://github.com/OpenNeuroLab/BrainBox/issues" target="_blank"><img id="bug" class="button" title="report a bug" style='width:14px' src='/img/bug.svg'/></a>
			<a href="https://github.com/OpenNeuroLab" target="_blank"><img id="github" class="button" title="join our github project" style='width:15px' src='/img/github.svg'/></a>
			<div id="MyLogin">
				<span>{{{login}}}</span>
			</div>
		</div>

        <!-- Small left-top logo -->
        <div style="display:inline-block;margin:10px">
            <a href='/' style="text-decoration:none">
                <img style='height:56px;vertical-align:middle' src='/img/brainbox-logo-small_noFont.svg'/>
            </a><span style="font-family: Roboto, sans-serif; font-size: 36px; font-weight:100;vertical-align:middle" id="fontLogo"> 
                <a href='/' style="font-family: Roboto, sans-serif; font-size: 36px; font-weight:100; text-decoration:none">{{nickname}}</a>
            </span>
        </div>
	</div>

	<!-- Content (variable height) -->
	<div id="content" style="flex:1 0 auto;justify-content:center">
	
		<!-- to center -->
		<!--<table style="margin:auto;width:1000px">-->
		<div id="centeringDiv">
		    
		    <div id="userImage">
                <img src='{{{avatar}}}' style="width:100%"/>
		    </div>
		    <!-- end of #userImage -->
		    
		    <div id="userDescription">
                <h1>{{username}}</h1>
                <h2>{{nickname}}</h2>
                <p>{{joined}}</p>
                <p><span id="numMRI"></span> MRI Files</p>
                <p><span id="numAtlas"></span> Atlas Files</p>
                <p><span id="numProjects"></span> Projects</p>
		    </div>
		    <!-- end of #userDescription -->
		    
		    <div id="userTable">
                <!-- Tab heads -->
                <div>
                    <a class="tab" value='mri'>MRI Files</a>
                    <a class="tab" value='atlas'>Atlas Files</a>
                    <a class="tab" value='projects'>Projects</a>
                </div>
        
                <!-- Tab contents -->
                <div style="width:calc(100% - 40px);min-height:400px;background:#333;padding:20px">
        
                    <!-- Tab Content 1: MRI Files -->
                    <table id="MRIFiles" class="tabContent" style="padding:10px;display:none">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Volume Dimensions</th>
                                <th>Included</th>
                            <tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
            
                    <!-- Tab Content 2: Atlas Files -->
                    <table id="atlasFiles" class="tabContent" style="padding:10px;display:none">
                        <thead>
                            <tr>
                                <th>Parent MRI</th>
                                <th>Name</th>
                                <th>Project</th>
                                <th>Last modified</th>
                            <tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
            
                    <!-- Tab Content 3: Projects -->
                    <table id="projects" class="tabContent" style="padding:10px;display:none">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Files</th>
                                <th>Collaborators</th>
                                <th>Owner</th>
                                <th>Last modified</th>
                            <tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
            
                </div>
		    </div>
		    <!-- end of #userTable -->

		</div>

	</div>
	<!-- End Content -->
	
	<!-- Space (fixed height) -->
	<div style="flex:0 0 50px">
	</div>

	<!-- Footer (fixed height) -->
	<div style="flex:0 0 100px;background-color:#000">
		<p style="width:100%;font-size:small;text-align:center"> 
			<a target="_blank" href="http://neuroanatomy.github.io">
				<img src="/img/naat-bw.svg" style="width:28px;height:28px;margin-right:4px;display:inline-block;vertical-align:middle"/></a>
			<a target="_blank" href="http://neuroanatomy.github.io" class="linkNoULine">
				group de neuroanatomie appliquée et théorique
			</a>
		</p>
	</div>
	
</div>

<script src="/lib/jquery-3.1.1.min.js"></script>
<script>
	var userInfo='{{{userInfo}}}';
	var cursorFiles = 0;
	var cursorAtlas = 0;
	var cursorProjects = 0;
	
	userInfo=JSON.parse(userInfo);
	userInfo.MRIFiles = [];
	userInfo.atlasFiles = [];
	userInfo.projects = [];
	
	// switch tabs
	$("a.tab").click(function() {
		$("a.tab").removeClass("selected");
		$(this).addClass("selected");
		$(".tabContent").hide();
		selectTab($(this).attr('value'));
	});
	selectTab('{{tab}}');
	
	queryFiles();
	queryAtlas();
	queryProjects();
	
    $("#addProject").click(function(){location="/project/new"});
    $("#settings").click(function(){
        var pathname=location.pathname;
        if(pathname.slice(-1)=="/")
            location=pathname+"settings";
        else
            location=pathname+"/settings";
    });
    
function selectTab(tab) {
    $(".tab").removeClass("selected");
    switch(tab) {
        case "mri":
            $(".tab:eq(0)").addClass("selected");
            $("#MRIFiles").show();
            break;
        case "atlas":
            $(".tab:eq(1)").addClass("selected");
            $("#atlasFiles").show();
            break;
        case "projects":
            $(".tab:eq(2)").addClass("selected");
            $("#projects").show();
            break;
    }
}
function queryFiles() {
	$.getJSON("/user/json/{{nickname}}/files", {start:cursorFiles, length:100})
	.then(function(res) {
	    if(res.success) {
            appendFiles(res.list);
            cursorFiles += 100;
            queryFiles();
        }
	});
}
function appendFiles(list) {
    userInfo.MRIFiles.push.apply(userInfo.MRIFiles, list);
    for(var i=0;i<list.length;i++) {
        $('#MRIFiles tbody').append([
            '<tr><td><a href="/mri?url=',
            list[i].url,
            '">',
            (list[i].name?list[i].name:list[i].url),
            '</a></td><td>',
            list[i].volDimensions,
            '</td><td>',
            list[i].included,
            '</td></tr>'
        ].join(""));
    }
    $("#numMRI").text(userInfo.MRIFiles.length);
}
function queryAtlas(list) {
	$.getJSON("/user/json/{{nickname}}/atlas", {start:userInfo.atlasFiles.length, length:100})
	.then(function(res) {
	    if(res.success) {	        
            appendAtlas(res.list);
            cursorAtlas += 100;
            queryAtlas();
        }
	});
}
function appendAtlas(list) {
    userInfo.atlasFiles.push.apply(userInfo.atlasFiles, list);
    for(var i=0;i<list.length;i++) {
        $('#atlasFiles tbody').append([
            '<tr><td><a href="/mri?url=',
            list[i].url,
            '">',
            (list[i].parentName?list[i].parentName:list[i].url),
            '</a></td><td class="noEmpty">',
            list[i].name,
            '</td><td><a href="',
            list[i].projectURL,
            '" class="noEmpty">',
            list[i].project,
            '</a></td><td>',
            list[i].modified,
            '</td></tr>'
        ].join(""));
    }
    $("#numAtlas").text(userInfo.atlasFiles.length);
}
function queryProjects() {
	$.getJSON("/user/json/{{nickname}}/projects", {start:userInfo.projects.length, length:100})
	.then(function(res) {
	    if(res.success) {
            appendProjects(res.list);
            cursorProject += 100;
            queryProjects();
        }
	});
}
function appendProjects(list) {
    userInfo.projects.push.apply(userInfo.projects, list);
    for(var i=0;i<list.length;i++) {
        $('#projects tbody').append([
            '<tr><td><div style="position:relative"><a style="margin-left:15px" class="projectName" href="',
            list[i].projectURL,
            '">',
            list[i].project,
            '</a><a href="',
            list[i].projectURL,
            '/settings" class="settings" title="Settings" style="position:absolute;top:0;left:0"><img style="width:11px; margin:3px 8px 0 0" src="/img/settings.svg"/></a></div></td><td>',
            list[i].numFiles,
            '</td><td>',
            list[i].numCollaborators,
            '</td><td><a href="/user/',
            list[i].owner,
            '">',
            list[i].owner,
            '</a></td><td>',
            list[i].modified,
            '</td></tr>'
        ].join(""));
    }
    $("#numProjects").text(userInfo.projects.length);
}
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-50078058-2', 'auto');
  ga('send', 'pageview');

</script>

</body>
</html>
