/******************************** table ***************************************/
.selection-header {
    padding-bottom:4px;
    text-align:left;
    height:20px;
}
.tab.selected {
    background:#333;
}
.tabContent {
    margin-left:10px;
}
tr.selected{
    background-color:#444;
}
td {
    word-break: break-word;
}
#MRIFiles, #annotations, #access {
    color:white;
    text-align:left;
    width:100%;
    border-collapse:collapse;
}
#MRIFiles tr, #annotations tr, #access tr {
    margin:0px 4px;
}
#MRIFiles, #annotations, #access,
#MRIFiles th, #annotations th, #access th {
    border-bottom:thin solid white;
}
#MRIFiles a, #annotations a, #access a {
    text-decoration:none;
}

/************************************ checkbox for display ******************************/ 
[data-check="0"] .check:before {
    background-image: url("/img/check.svg");
}

[data-check="1"] .check:before {
    background-image: url("/img/checked.svg");
}

/******************************** resizable layout ******************************/
#littleDescription:focus:before {
    content: none !important;
}

#littleDescription {
    outline: none;
}

#centeringDiv {
    position:relative;
    display:block;
    margin:0 auto;
}
#projImage {
    position:relative;
    display: inline-block;
    background:#333;
    width:200px;
    height:200px;
    vertical-align: top;
}
#projDescription {
    position: relative;
    display: inline-block;
    vertical-align: top;
}
#projTable {		
    position: relative;
    display:inline-block;
    min-height:400px;
    max-width: 900px;
    background:#333;
    padding:20px; 
    text-decoration:none;
    vertical-align: top;
}

#projDescription p {
    margin: 0;
}

/* for larger screen (computer, big iPad, small iPad landscape) */
@media all and (min-width: 1023px) {
    #centeringDiv {
        width:984px;
        padding:20px;
    }
    #projImage {
        float: left;
    }
    #projDescription {
        float: left;
        clear: both;
        width: 200px;
    }		
    #projTable {
        max-width: 900px;
        width: calc(100% - 260px);
        padding: 20px;
        margin-left: 20px;
    }
}

/* for smaller screen (small iPad portrait) */ 
@media not all and (min-width: 1023px) {
    #centeringDiv {
        width:700px;
        padding:20px;
    }
    #projDescription {
        position: relative;
        top: 0px;
        left: 0px;
        padding-left:20px;
        padding-right: 20px;
        width:calc(100% - 300px);
        text-align: justify;
    }
    #projTable {
        position: relative;
        max-width: 700px;
        width:calc(100% - 40px);
        top: 20px;
        left: 0px;
    }
}

/* for even smaller screen (phone) */ 
@media not all and (min-width: 739px) {
    #centeringDiv {
        text-align: center;
        width:600px;
        padding:10px;
    }
    #projDescription {
        position: relative;
        top: 0px;
        left: 0px;
        padding-left:10px;
        width:calc(100% - 20px);
        text-align: justify;
    }
    #projTable {
        position: relative;
        max-width: 600px;
        width:calc(100% - 40px);
        top: 20px;
        left: 0px;
    }
}
/* for even still smaller screen (phone) */ 
@media not all and (min-width: 639px) {
    #centeringDiv {
        text-align: center;
        width:480px;
        padding:10px;
    }
    #projDescription {
        position: relative;
        top: 0px;
        left: 0px;
        padding-left:10px;
        width:calc(100% - 20px);
        text-align: justify;
    }
    #projTable {
        position: relative;
        max-width: 420px;
        width:calc(100% - 40px);
        top: 20px;
        left: 0px;
    }
}

/* button disabled */
.disabled {
    opacity: 0.4;
    pointer-events: none;
}
