/* User interface widgets style: buttons, sliders */

.a {
    border:thin solid #777;
    border-radius:3px;
    margin:1px;
    text-align:center;
    height: 22px;
    outline: none
}
.a:hover {
    opacity:0.5;
    -webkit-user-select:none;
    -moz-user-select:none;
    user-select:none;
}
.pressed {
    background-color:#555 !important;
}
.icon {
    width:16px;
    vertical-align:middle;
}

/* svg buttons
----------------------- */
.pushButton {
    border:1px solid #ddd;
    border-radius:6px;
    color:#ddd;
    text-align:center;
    -webkit-appearance:none;
    cursor: pointer;
}
img.button {
<<<<<<< HEAD:view/brainbox/src/style/ui.css
    width:0.9rem;
    height:0.9rem;
    margin:8px 2px;
    vertical-align:middle;
    cursor:pointer;
=======
	width:1rem;
	height:1rem;
	margin:8px 2px;
	vertical-align:middle;
	cursor:pointer;
>>>>>>> master:public/stylesheets/ui.css
}
img.button:hover {
    opacity:0.5;
}
img.icon {
    width:1rem;
    height:1rem;
    margin:4px 2px;
    vertical-align:middle;
    cursor:pointer;
}

.mui-select {
    border:none;
    background:none; /* no color, no decoration */
    color:white;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    cursor: pointer;
}
