<div id="adjust" style="width:calc(100% - 20px );position:absolute;bottom:0;left:0;padding:10px;">
	<div>
		<img src="/img/sun-o.svg" style="width:20px;vertical-align:middle"/>
		<div id="minLevel" class="slider" data-max=100 data-val=0 style="display:inline-block;position:relative;margin-left:10px;width:calc(100% - 30px - 20px);height:100%;vertical-align:middle">
			<div class="track"
				 style="position:absolute;left:0;top:50%;width:100%;border-top:1px solid #fff;display:inline-block"></div>
			<div class="thumb"
				 style="transform:translate(-10px,-10px);border-radius:10px;position:absolute;left:0;top:50%;width:20px;height:20px;background-color:#fff;display:inline-block"></div>
		</div>
	</div>
	<div>
		<img src="/img/adjust.svg" style="width:20px;vertical-align:middle"/>
		<div id="maxLevel" class="slider" data-max=100 data-val=0 style="display:inline-block;position:relative;margin-left:10px;width:calc(100% - 30px - 20px);height:100%;vertical-align:middle">
			<div class="track"
				 style="position:absolute;left:0;top:50%;width:100%;border-top:1px solid #fff;display:inline-block"></div>
			<div class="thumb"
				 style="transform:translate(-10px,-10px);border-radius:10px;position:absolute;left:0;top:50%;width:20px;height:20px;background-color:#fff;display:inline-block"></div>
		</div>
	</div>

	<script>
		console.log("------>Adding Adjust tool");
		AtlasMakerWidget.slider($(".slider#minLevel"),function(x) {
			$("#minLevel").data("val",x);
			$("#minLevel .thumb")[0].style.left=x+"%";
		
			$("#canvas").css({"webkit-filter":"brightness("+(2*x/100)+") contrast("+(2*$("#maxLevel").data("val")/100)+")"});
		});
		AtlasMakerWidget.slider($(".slider#maxLevel"),function(x) {
			$("#maxLevel").data("val",x);
			$("#maxLevel .thumb")[0].style.left=x+"%";
			$("#canvas").css({"webkit-filter":"brightness("+(2*$("#minLevel").data("val")/100)+") contrast("+(2*x/100)+")"});
		});

		$(".slider#minLevel").data({max:100,val:50});
		$("#minLevel .thumb")[0].style.left="50%";

		$(".slider#maxLevel").data({max:100,val:50});
		$("#maxLevel .thumb")[0].style.left="50%";
	
		var observer = new MutationObserver(function(mutations) {
			mutations.forEach(function(mutation) {
				if (mutation.attributeName === "class") {
					console.log("mutation",mutation);
					var attributeValue = $(mutation.target).prop(mutation.attributeName);
					if(attributeValue=="a")
						$("#adjust").remove();
						observer.disconnect();
						delete observer;
				}
			});
		});    
		observer.observe($("#paintTool [title='Adjust']")[0],  {
			attributes: true
		});	
	</script>
</div>
