<div id="tools-side" style="display:block">
	<div id="tools-minimized">
	    <div>
	        <img style="width:28px;position:absolute;top:10px;left:10px" src="/img/bars.svg" />
	    </div>
	</div>
	
	<div id="tools-maximized" style="display:flex;flex-direction:column;width:100%;"><!--height:100%"-->
		<!-- tools hide/show, display left/right -->
		<div id="toolbar-header" style="flex:0 0 28px">
            <div style="display:flex;background:#333">
                <div style="width:28px;height:28px;flex:0 0 28px"><div id="display-minimize" title="Minimize toolbar" class="a push"><img class="icon" src="/img/times-circle.svg" /></div></div>
                <div style="height:28px;flex:1 1 auto"></div>
                <div style="width:28px;height:28px;flex:0 0 28px"><div id="display-left" title="Display to the left" class="a push"><img class="icon" src="/img/caret-square-o-left.svg" /></div></div>
                <div style="width:28px;height:28px;flex:0 0 28px"><div id="display-right" title="Display to the right" class="a push"><img class="icon" src="/img/caret-square-o-right.svg" /></div></div>
            </div>
		</div>
		<!-- slider -->
		<div style="flex:0 0 28px">
			<div style="display:flex">
				<div style="height:28px;flex:0 0 28px">
					<div id="prev" class="a push">-</div>
				</div>
				<div style="height:28px;flex:1 0 28px;position:relative;">
					<div style="display:inline-block;width:100%;position:relative;height:100%"> <!--height:100%;-->
						<div id="slice" class="slider" data-max=100 data-val=0 style="position:relative;margin-left:10px;width:calc(100% - 20px);height:100%"><!--;height:100%"-->
							<div class="track"
								 style="position:absolute;left:0;top:50%;width:100%;border-top:1px solid #fff;display:inline-block"></div>
							<div class="thumb"
								 style="transform:translate(-10px,-10px);border-radius:10px;position:absolute;left:0;top:50%;width:20px;height:20px;background-color:#fff;display:inline-block"></div>
						</div>
					</div>
				</div>
				<div style="height:28px;flex:0 0 28px">
					<div id="next" class="a push">+</div>
				</div>
			</div>
		</div>
		<!-- buttons -->
		<div style="flex:0 0 auto">
			<div style="display:flex;flex-wrap:wrap">
				<div style="width:50px;height:56px;flex:1 0 170px;">
					<!-- plane -->
					<div style="display:flex" id="plane" class="chose">
						<div style="height:28px;flex:1"><div title="sag" class="a pressed">Sag</div></div>
						<div style="height:28px;flex:1"><div title="cor" class="a">Cor</div></div>
						<div style="height:28px;flex:1"><div title="axi" class="a">Axi</div></div>
					</div>
					<!-- fullscreen/precise-cursor -->
					<div style="display:flex">
						<div style="height:28px;flex:1"><div id="fullscreen" title="Full screen" class="a toggle"><img class="icon" src="/img/fullscreen.svg" /></div></div>
						<div style="height:28px;flex:1"><div id="3drender" title="3D render" class="a push"><img class="icon" src="/img/3drender.svg" /></div></div>
						<div style="height:28px;flex:1"><div id="link" title="Link" class="a push"><img class="icon" src="/img/link.svg" /></div></div>
						<div style="height:28px;flex:1"><div id="bubble" title="Chat" class="a toggle pressed"><img class="icon" src="/img/chat.svg" /></div></div>
						<div style="height:28px;flex:1"><div id="upload" title="Upload" class="a push"><img class="icon" src="/img/upload.svg" /></div></div>
						<div style="height:28px;flex:1"><div id="download" title="Download" class="a push"><img class="icon" src="/img/download.svg" /></div></div>
						<div style="height:28px;flex:1"><div id="precise" title="Precise cursor" class="a toggle"><img class="icon" src="/img/preciseCursor.svg" /></div></div>
					</div>
				</div>
				<div style="width:50px;height:56px;flex:1 0 170px;">
					<!-- paint/erase -->
					<div style="display:flex" class="chose" id="paintTool">
						<div style="height:28px;flex:1"><div title="Show" class="a pressed"><img class="icon" src="/img/show.svg" /></div></div>
						<div style="height:28px;flex:1"><div title="Paint" class="a"><img class="icon" src="/img/paint.svg" /></div></div>
						<div style="height:28px;flex:1"><div title="Erase" class="a"><img class="icon" src="/img/erase.svg" /></div></div>
						<div style="height:28px;flex:1"><div title="Measure" class="a"><img class="icon" src="/img/ruler.svg" /></div></div>
						<div style="height:28px;flex:1"><div title="Adjust" class="a"><img class="icon" src="/img/adjust.svg" /></div></div>
						<div style="height:28px;flex:1"><div title="Eyedrop" class="a"><img class="icon" src="/img/eyedropper.svg" /></div></div>
					</div>
					<!-- fill/undo -->
					<div style="display:flex">
						<div style="height:28px;flex:1"><div id="color" title="Color" style="height:22px;background-color:#f00" class="a push"></div></div>
						<div style="height:28px;flex:1"><div id="fill" class="a toggle"><img class="icon" src="/img/fill.svg" /></div></div>
						<div style="height:28px;flex:1"><div id="undo" title="Undo" class="a push"><img class="icon" src="/img/undo.svg" /></div></div>
						<div style="height:28px;flex:1"><div id="save" title="Save" class="a push"><img class="icon" src="/img/floppy.svg" /></div></div>
					</div>
				</div>
			</div>
		</div>
		<!-- pen size -->
		<div style="flex:0 0 28px">
			<div style="display:flex" class="chose" id="penSize">
				<div style="height:28px;flex:1"><div title="1" class="a pressed">1</div></div>
				<div style="height:28px;flex:1"><div title="2" class="a">2</div></div>
				<div style="height:28px;flex:1"><div title="3" class="a">3</div></div>
				<div style="height:28px;flex:1"><div title="5" class="a">5</div></div>
				<div style="height:28px;flex:1"><div title="10" class="a">10</div></div>
				<div style="height:28px;flex:1"><div title="15" class="a">15</div></div>
			</div>
		</div>
		<!-- chat -->
		<div id="chatBlock" style="flex:1 1 110px">
			<div id="chatBlockContent" style="display:flex;flex-direction:column">
				<div style="flex:0 0 28px">
					<div id="chat">Chat (disconnected)</div>
				</div>
				<div class="a" id="log" style="flex:1 0 56px;text-align:left;background-color:#333;padding:5px;vertical-align:top">
				</div>
				<div style="flex:1 1 5px">
					<input id="msg" type="text" style="width:100%;box-sizing:border-box">
				</div>
			</div>
		</div>
	</div>

</div>

<!-- Loading indicator -->
<div id="loadingIndicator">
    <p>Loading...</p>
    <div class="disc"></div>
</div>
<!-- End Loading indicator -->

<!-- Labels -->
<div id="labelset">
    <div style="z-index:23;text-align:right">
        <img id="labels-close" class="button" src="/img/times-circle.svg"/>
    </div>

    <ul style="padding-left:1rem">
        <li>
            <b>Label Set</b><br/>
            <span id="labels-name"></span>
        </li>
        <li>
            <b>Labels</b><br/>
            <div id="label-list">
            </div>
            <div id="label-template">
                <div class="label-color"></div>
                <span class="label-name">Label Name</name>
            </div>
        </li>
    </ul>
</div>
<!-- End Labels -->
