/* Loading indicator */
@-webkit-keyframes loading {
    0% {left: 40%;}
    50% {left: 60%;}
    100% {left: 40%;}
}
#loadingIndicator {
    display:none;
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.5);
}
#loadingIndicator .disc {
    position:absolute;
    left:50%;
    transform:translate( -50% , 0 );
    width:8px;
    height:8px;
    border-radius:8px;
    background:white;
    -webkit-animation-name: loading;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    animation-name: loading;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
