<!DOCTYPE html>
<html>

<head>
    <meta name="description" content="open science neuroimaging collaboration neuroscience MRI">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.png" />
    <title>Disabled user</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:100' rel='stylesheet' type='text/css'>
    <style>
    html, a {
        background: #111;
        color: white;
    }
    </style>
</head>

<body>

<div id="header">
    <div style="display:inline-block;margin:10px">
        <a href='/' style="text-decoration:none">
            <img style='height:28px;vertical-align:middle' src='/img/brainbox-logo-small_noFont.svg'/>
        </a><span id="fontLogo">
            <a href='/' style="font-family: Roboto, sans-serif; font-size: 28px; font-weight:100; text-decoration:none;vertical-align:middle">BrainBox</a>
        </span>
    </div>
</div>

This user has removed his account. <a href="/">Back to the homepage</a>


</body>

</html>
