<html>
<body>

<div style="width:50%;display:flex;flex-direction:column">
	
	<!-- slider -->
	<div style="flex:0 0 32px">
		<div style="display:flex">
			<div style="height:32px;flex:0 0 32px;background-color:#bfd">-</div>
			<div style="height:32px;flex:1;background-color:#9fc">slider</div>
			<div style="height:32px;flex:0 0 32px;background-color:#bfd">+</div>
		</div>
	</div>
	
	<!-- buttons -->
	<div style="flex:0 0 auto">
		<div style="display:flex;flex-wrap:wrap">
			<div style="width:50px;height:64px;flex:1 0 150px;">
				<!-- plane -->
				<div style="display:flex">
					<div style="height:32px;flex:1;background-color:#fdb">sag</div>
					<div style="height:32px;flex:1;background-color:#fc9">cor</div>
					<div style="height:32px;flex:1;background-color:orange">axi</div>
				</div>
				<!-- fullscreen/precise-cursor -->
				<div style="display:flex">
					<div style="height:32px;flex:0 0 32px;background-color:dbf">full</div>
					<div style="height:32px;flex:1;background-color:c9f">precise</div>
				</div>
			</div>
			<div style="width:50px;height:64px;flex:1 0 150px;">
				<!-- paint/erase -->
				<div style="display:flex">
					<div style="height:32px;flex:1;background-color:#fdb">paint</div>
					<div style="height:32px;flex:1;background-color:#fc9">erase</div>
				</div>
				<!-- fill/undo -->
				<div style="display:flex">
					<div style="height:32px;flex:1;background-color:dbf">fill</div>
					<div style="height:32px;flex:1;background-color:c9f">undo</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- pen size -->
	<div style="flex:0 0 32px">
		<div style="display:flex">
			<div style="height:32px;flex:1;background-color:#bfd">1</div>
			<div style="height:32px;flex:1;background-color:#9fc">2</div>
			<div style="height:32px;flex:1;background-color:#7fb">3</div>
			<div style="height:32px;flex:1;background-color:#5fa">5</div>
			<div style="height:32px;flex:1;background-color:#3f9">10</div>
			<div style="height:32px;flex:1;background-color:#1f8">15</div>
		</div>
	</div>
	
	<!-- chat -->
	<div style="flex:0 0 32px;background-color:pink">chat</div>
	<div style="flex:1 0 64px;background-color:red">chat log</div>
	<div style="flex:0 0 32px;background-color:pink">input</div>
</div>

</body>
</html>