<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"> 
    <title>BrainBox</title>
	<link rel="stylesheet" href="/css/common.css" />
	<link href='https://fonts.googleapis.com/css?family=Roboto:100' rel='stylesheet' type='text/css'>

	<style>
	.tab {
		padding-top:3px;
		padding-right:12px;
		padding-left:12px;
		padding-bottom:4px;
		cursor: pointer;
	}
	.tab.selected {
		background:#555;
	}
	#files, #projects {
		color:white;
		text-align:left;
		width:100%;
		border-collapse:collapse;
	}
	#files td, #projects td,
	#files th, #projects th {
		padding:0px 4px;
	}
	#files, #projects,
	#files th, #projects th {
		border-bottom:thin solid white;
	}
	#files a, #projects a {
		text-decoration:none;
	}
	#projectFiles {
		overflow:scroll;
	}
	</style>

</head>

<body>

<div style="width:100%;height:100%;display:flex;flex-direction:column;align-items:stretch">
	
	<!-- Header -->
	<div style="flex:0 0 100px">
		<a href='/'>
			<img style='position:fixed;left:5px;top:5px;width:200px' src='/img/brainbox-logo-small_noFont.svg'/>
		</a>
		<!--get project name from projectInfo.name!!!-->
		<div id="projName" style="position:fixed;left:70px;top:21px;width:auto; font-family: Roboto, sans-serif; font-size: 30px; font-weight:300">Brain Catalogue
		</div>
		<div id="menu">
			<img id="addProject" title="add project" style='position:fixed;right:185px;top:10px;width:13px' src='/img/plus.svg'/>
			<img id="search" title="search" style='position:fixed;right:160px;top:10px;width:13px' src='/img/search.svg'/>
			<img id="doc" title="documentation" style='position:fixed;right:135px;top:10px;width:13px' src='/img/doc.svg'/>
			<img id="settings" title="settings" style='position:fixed;right:110px;top:10px;width:13px' src='/img/settings.svg'/>
			<div id="MyLogin"></div>
		</div>
		<!--<div id="MyLogin"></div>-->
	</div>
	
	<!-- Content -->
	<div id="content" style="flex:1 1 auto;position:relative">
		<div style="display:flex;width:100%;height:100%;align-items:stretch;position:absolute">

			<div id="left" style="flex:0 0 400px">
				<div style="display:flex;flex-direction:column;height:100%">
					<div id="tools" style="flex:1 1 auto">
					</div>
				
					<div id="projectFiles" style="flex:1 1 auto">
						<table style="width:100%;text-align:left">
							<tr>
								<th>File</th>
								<th>QC</th>
								<th>QC Comment</th>
							</tr>
						</table>
					</div>
				
					<div id="annotations" style="flex:1 1 auto">
						<p>bring the annotations this way</p>
					</div>
				</div>
			</div>

			<div id="right" style="flex:1 0">
				<div id="stereotaxic" style="width:100%"></div>
			</div>

		</div>
	</div>
</div>

<!-- Labels -->
<div id="labelset">
	<div style="z-index:23;text-align:right">
		<img id="labels-close" class="button" src="/img/times-circle.svg"/>
	</div>

	<ul style="padding-left:1rem">
		<li>
			<b>Label Set</b><br/>
			<span id="labels-name"></span>
		</li>
		<li>
			<b>Labels</b><br/>
			<div id="label-list">
			</div>
			<div id="label-template">
				<div class="label-color"></div>
				<span class="label-name">Label Name</name>
			</div>
		</li>
	</ul>
</div>
<!-- End Labels -->


<script src="/lib/jquery-1.11.0.min.js"></script>
<script src="/lib/mylogin/login.js"></script>
<script src="/lib/pako/pako.min.js"></script>
<script src="/js/brainbox.js"></script>
<script>

	// Init login widget
	MyLoginWidget.init($("#MyLogin"));

	var projectInfo='{{projectName}}';
	projectInfo=JSON.parse(projectInfo);
	$("#projectName").text(projectInfo.name);
	$("#projectOwner").html("<a href='"+projectInfo.owner+"'>"+projectInfo.owner+"</a>");
	var creation=new Date(projectInfo.created);
	$("#projectCreated").text("Created on "+creation.toLocaleString());
	$("#projectFilesNumber").text(projectInfo.files.length+" Files");
	$("#projectCollaboratorsNumber").text(projectInfo.collaborators.length+" Collaborators");
	
	/*
		The list of all files visited by the project
		should be recovered from the database
	*/
	var str;
	for(var i=0;i<projectInfo.files.length;i++) {
		var name=projectInfo.files[i].split("/").pop();
		str+=[	"<tr>",
				"	<td>",
				"		<a href='"+location.origin+"/index.html?url="+projectInfo.files[i]+"'>"+name+"</a>",
				"	</td>",
				"	<td>1</td>",
				"	<td>No Comment</td>",
				"</tr>"].join("");
	}
	$("#projectFiles table").append(str);
	
	/*
		The list of all projects to which the project
		participates should be recovered from
		the database
	*/
	str=[	"<tr>",
			"<th>Name</th>",
			"<th>Last visited</th>",
			"<tr>"].join();
	for(var i=0;i<projectInfo.collaborators.length;i++) {
		str+=[	"<tr>",
				"	<td>",
				"		<a href='"+projectInfo.collaborators[i]+"'>"+projectInfo.collaborators[i]+"</a>",
				"	</td>",
				"	<td>14 July 2016</td>",
				"</tr>"].join("");
	}
	$("#collaborators").append(str);
	
	var url="http://braincatalogue.dev/data/Lion/MRI-n4.nii.gz";
	BrainBox.initBrainBox({url:url,view:"cor",slice:180,fullscreen:false})
	//.then(function() {return loadLabelsets()})
	.then(function() {
		$("#tools-side").detach().appendTo('#tools');
		// connect colours close button
		$(document).on('click', "#labels-close", function(){$("#labelset").hide()});
	});
</script>

</body>
</html>
