<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="open science neuroimaging collaboration neuroscience MRI">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"> 
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.png" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100" type="text/css">
</head>

<body>
    <div id="app"></div>
    <script>
        const projectInfo={{{projectInfo}}};
        const annotationsAccessLevel='{{{annotationsAccessLevel}}}';
        const loggedUser = {{{loggedUser}}};
    </script>
    <script type="text/html" id="template">
        <ProjectPage
            @resize="handleResize"
            @layout-change="handleLayoutChange"
            :project="project"
            :fullscreen="fullscreen"
        >
            <template v-slot:left>
                <TextAnnotations
                    :extract-keys="extractTextKeys"
                    :link-prefix="linkPrefix"
                    :files="files"
                    @value-change="valueChange"
                    @select-file="selectFile"
                />
                <VolumeAnnotations
                    :extract-keys="extractVolumeKeys"
                    :annotations="volumeAnnotations"
                    @select-annotation="selectVolumeAnnotation"
                />

            </template>
            <template v-slot:right>
                <OntologySelector
                    :ontology="ontology"
                    :open="displayOntology"
                    @on-close="displayOntology = false"
                    @label-click="handleOntologyLabelClick"
                />
                <Editor :title="title">
                    <template v-slot:tools>
                        <Row centered>
                            <RangeSlider :max="totalSlices" v-model="currentSlice" @update:modelValue="sliceChange" />
                        </Row>
                        <Row centered>
                            <ButtonsGroup>
                                <Button :class="{ pressed: currentView === 'sag' }"
                                        @click="changeView('sag')">Sag</Button>
                                <Button :class="{ pressed: currentView === 'cor' }"
                                        @click="changeView('cor')">Cor</Button>
                                <Button :class="{ pressed: currentView === 'axi' }"
                                        @click="changeView('axi')">Axi</Button>
                            </ButtonsGroup>
                            <ButtonsGroup>
                                <Button @click="changeTool('Show')" 
                                        :class="{ pressed: currentTool === 'Show' }">
                                    <img class="icon" alt="Show" :src="icons['show.svg']" />
                                </Button>
                                <Button @click="changeTool('Paint')"
                                        :class="{ pressed: currentTool === 'Paint' }">
                                    <img class="icon" alt="Paint" :src="icons['paint.svg']" />
                                </Button>
                                <Button @click="changeTool('Erase')"
                                        :class="{ pressed: currentTool === 'Erase' }">
                                    <img class="icon" alt="Erase" :src="icons['erase.svg']" />
                                </Button>
                                <Button @click="changeTool('Landmark')"
                                        :class="{ pressed: currentTool === 'Landmark' }">
                                    <img class="icon" alt="Landmark" :src="icons['landmark.svg']" />
                                </Button>
                                <Button @click="changeTool('Measure')"
                                        :class="{ pressed: currentTool === 'Measure' }">
                                    <img class="icon" alt="ruler" :src="icons['ruler.svg']" />
                                </Button>
                                <Button @click="toggleImageSettings()"
                                        :class="{ pressed: displayAdjustSettings }">
                                    <img class="icon" alt="Adjust" :src="icons['adjust.svg']" />
                                </Button>
                                <Button @click="changeTool('Eyedrop')"
                                        :class="{ pressed: currentTool === 'Eyedropper' }">
                                    <img class="icon" alt="Eyedropper" :src="icons['eyedropper.svg']" />
                                </Button>
                            </ButtonsGroup>
                        </Row>
                        <Row centered>
                            <Button @click="toggleFullscreen()" title="Full screen">
                                <img class="icon" alt="Full screen" :src="icons['fullscreen.svg']" />
                            </Button>
                            <Button @click="render3D()" title="3D render">
                                <img class="icon" alt="3D Render" :src="icons['3drender.svg']" />
                            </Button>
                            <ButtonsGroup>
                                <Button @click="toggleChat()" title="Chat" :class="{ pressed: displayChat }">
                                    <img class="icon" alt="Chat" :src="icons['chat.svg']" />
                                </Button>
                                <Button @click="toggleScript()" title="Script" :class="{ pressed: displayScript }">
                                    <img class="icon" alt="Script" :src="icons['scroll.svg']" />
                                </Button>
                            </ButtonsGroup>   
                            <Button @click="link()" title="Link">
                                <img class="icon" alt="Link" :src="icons['link.svg']" />
                            </Button>
                            <Button @click="preciseCursor()" title="Precise Cursor" :class="{ pressed: usePreciseCursor }">
                                <img class="icon" alt="Precise Cursor" :src="icons['preciseCursor.svg']" />
                            </Button>
                            <Button style="padding: 1px" @click="toggleOntology()" v-if="ontology != null && ontology.labels != null && ontology.labels[currentLabel] != null">
                                <div class="color" :style="`background-color: rgb(${ontology.labels[currentLabel].color[0]}, ${ontology.labels[currentLabel].color[1]}, ${ontology.labels[currentLabel].color[2]})`"></div>
                            </Button>
                            <Button @click="fill()" title="Fill" :class="{ pressed: doFill }" >
                                <img class="icon" alt="Fill" :src="icons['fill.svg']" />
                            </Button>
                            <Button @click="undo()" title="Undo">
                                <img class="icon" alt="Undo" :src="icons['undo.svg']" />
                            </Button>
                            <Button @click="upload()" title="Upload">
                                <img class="icon" alt="Upload" :src="icons['upload.svg']" />
                            </Button>
                            <Button @click="download()" title="Download">
                                <img class="icon" alt="Download" :src="icons['download.svg']" />
                            </Button>
                            <Button @click="save()" title="Save">
                                <img class="icon" alt="Save" :src="icons['floppy.svg']" />
                            </Button>
                        </Row>
                        <Row>
                            <ButtonsGroup>
                                <Button @click="changePenSize(1)" :class="{ pressed: currentPenSize === 1 }" title="Change pen size to 1">1</Button>
                                <Button @click="changePenSize(2)" :class="{ pressed: currentPenSize === 2 }" title="Change pen size to 2">2</Button>
                                <Button @click="changePenSize(3)" :class="{ pressed: currentPenSize === 3 }" title="Change pen size to 3">3</Button>
                                <Button @click="changePenSize(5)" :class="{ pressed: currentPenSize === 5 }" title="Change pen size to 5">5</Button>
                                <Button @click="changePenSize(10)" :class="{ pressed: currentPenSize === 10 }" title="Change pen size to 10">10</Button>
                                <Button @click="changePenSize(15)" :class="{ pressed: currentPenSize === 15 }" title="Change pen size to 15">15</Button>
                            </ButtonsGroup>
                        </Row>
                        <Row>
                            <div class="text">
                                <Chat
                                    v-if="displayChat"
                                    :receivedMessages="receivedMessages"
                                    :notification="notification"
                                    @send-message="sendChatMessage" />
                                <ScriptConsole v-if="displayScript"/>
                            </div>
                        </Row>
                    </template>
                    <template v-slot:content>
                        <div id="stereotaxic" style="width:100%;height:100%"></div>
                        <AdjustSettings
                            v-if="displayAdjustSettings"
                            :alpha="alpha" @change-alpha="changeAlpha"
                            :brightness="brightness" @change-brightness="changeBrightness"
                            :contrast="contrast" @change-contrast="changeContrast"
                        />
                    </template>
                </Editor>
            </template>
        </ProjectPage>    
    </script>
    <style>
    button.pressed {
        background: #555;
    }
    button img.icon {
        width: 16px;
        height: 16px;
    }
    .color {
        height: 100%;
        width: 30px;
    }
    .adjust-settings {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 10px;
        width: 200px;
    }
    .text {
        opacity: 0.5;
        width: 100%;
    }
    .text:hover {
        opacity: 1;
    }
    </style>
    <script src="/lib/atlasmaker.js"></script>
    <script src="/lib/brainbox.js"></script>
    <script src="/js/project-page.js"></script>
    <script>
    /* FIXME
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-50078058-2', 'auto');
        ga('send', 'pageview');
    */
    </script>
</body>
</html>
