<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="open science neuroimaging collaboration neuroscience MRI">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"> 
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.png" />
    <title>{{projectShortname}}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100" type="text/css">
</head>

<body>

<div id="app" style="width:100%;height:100%;display:flex;flex-direction:column">
    
    <!-- Header (fixed height) -->
    <div style="flex:0 0 64px">
        <!-- Top-right menu bar -->
        <div id="menu">
            <img id="addProject" class="button" title="add project" alt="add project" src="/img/plus.svg"/>
            <a href="http://openneu.ro/metasearch" target="_blank"><img id="search" class="button" title="search" alt="search" src="/img/search.svg"/></a>
            <img id="doc" class="button" title="documentation" alt="documentation" src="/img/doc.svg"/>
            <a href="https://github.com/neuroanatomy/BrainBox/issues/new" target="_blank"><img id="bug" class="button" title="report a bug" alt="report a bug" src="/img/bug.svg"/></a>
            <a href="https://github.com/neuroanatomy" target="_blank"><img id="github" class="button" title="join our github project" alt="join our github" style="width:15px;height:15px" src="/img/github.svg"/></a>
            <div id="MyLogin">
                <span>{{{login}}}</span>
            </div>
        </div>

        <!-- Small left-top logo -->
        <div style="display:inline-block;margin:10px">
            <a href="/" style="text-decoration:none">
                <img style="height:56px;vertical-align:middle" alt="brainbox logo" src="/img/brainbox-logo-small_noFont.svg"/>
            </a>
            <span
                contentEditable
                @input="handleInput($event,projectInfo,'name')"
                style="width:auto;text-align:left;font-family:Roboto,sans-serif;font-size:36px;font-weight:100;vertical-align:middle"
                class="noEmptyWithPlaceholder"
                placeholder="Enter a project name"
            >[[projectInfo.name]]</span>
        </div>
    </div>
    
    <!-- Content (variable height) -->
    <div id="content" style="flex:1 0 auto;justify-content:center;position:relative">
        <!-- to center -->
        <div id="centeringDiv">
            <div id="projImage">
                <a href="/project/{{projectShortname}}"><svg width="100%" height="100%"></svg></a>
            </div>
            
            <div id="projDescription">
                <a href="/project/{{projectShortname}}"><h1>{{projectShortname}}</h1></a>
                <p
                    contentEditable
                    @input="handleInput($event,projectInfo,'url')"
                    style="text-align:center"
                    class="noEmptyWithPlaceholder"
                    placeholder="Enter a project website"
                >[[projectInfo.url]]</p>
                <p>by <a href="/user/{{owner}}">{{owner}}</a></p>
                <p
                    contentEditable
                    @input="handleInput($event,projectInfo,'description')"
                    class="noEmptyWithPlaceholder"
                    placeholder="Enter a project description"
                >[[projectInfo.description]]</p>
                <p><span id="numCollaborators">[[projectInfo.collaborators.list.length]]</span> Collaborators</p>
                <p><span id="numAnnotations">[[projectInfo.annotations.list.length]]</span> Annotations</p>
                <p><span id="numFiles">[[projectInfo.files.list.length]]</span> MRI Files</p>

                <!-- Save or Cancel -->
                <div style="display:block;margin:0 auto;width:200px">
                    <h2 id="saveChanges" class="pushButton">Save Changes</h2>
                    <h2 id="deleteProject" class="pushButton">Delete Project</h2>
                    <h2 id="goToProject" class="pushButton">Go to Project</h2>
                    <p id="saveFeedback"></p>
                </div>
            </div>
            
            <div id="projTable">
                <!-- Tab Content 1: Access -->
                <h2 class="selection-header">Access</h2>
                <table id="access" class="tabContent" style="padding:10px;display:table">
                    <thead>
                        <tr>
                            <th>Nickname</th>
                            <th>Name</th>
                            <th>Collaborators</th>
                            <th>Annotations</th>
                            <th>MRI Files</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(val,ind) in projectInfo.collaborators.list">
                            <td>
                                <autocomplete-input v-model="val.userID" @change="updateName(ind, $event)" class="userID noEmptyWithPlaceholder" placeholder="User GitHub ID"></autocomplete-input>
                            </td>
                            <td>
                                <autocomplete-input v-model="val.name" @change="updateName(ind, $event)" class="userName noEmptyWithPlaceholder" placeholder="User Name"></autocomplete-input>
                            </td>
                            <td>
                                <div
                                    class='access'
                                    @input="handleAccess($event,val.access,'collaborators')"
                                    :data-level='["none","view","edit","add","remove"].indexOf(val.access.collaborators)'
                                >
                                    <span class='view' title='view collaborators'></span>
                                    <span class='edit' title='edit collaborators'></span>
                                    <span class='add' title='add collaborators'></span>
                                    <span class='remove' title='remove collaborators'></span>
                                </div>
                            </td>
                            <td>
                                <div
                                    class='access'
                                    @input="handleAccess($event,val.access,'annotations')"
                                    :data-level='["none","view","edit","add","remove"].indexOf(val.access.annotations)'
                                >
                                    <span class='view' title='view collaborators'></span>
                                    <span class='edit' title='edit collaborators'></span>
                                    <span class='add' title='add collaborators'></span>
                                    <span class='remove' title='remove collaborators'></span>
                                </div>
                            </td>
                            <td>
                                <div
                                    class='access'
                                    @input="handleAccess($event,val.access,'files')"
                                    :data-level='["none","view","edit","add","remove"].indexOf(val.access.files)'
                                >
                                    <span class='view' title='view collaborators'></span>
                                    <span class='edit' title='edit collaborators'></span>
                                    <span class='add' title='add collaborators'></span>
                                    <span class='remove' title='remove collaborators'></span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div style="text-align:right">
                    <img id="addCollaborator" class="button" style="width:20px; height:20px; margin:8 2 0 0" title="add collaborator" alt="add collaborator" src="/img/plus-square.svg"/>
                    <img id="removeCollaborator" class="button" style="width:20px; height:20px; margin:8 2 0 0" title="remove collaborator" alt="remove collaborator" src="/img/minus-square.svg"/>
                </div>
                
                
                <!-- Tab Content 2: Annotations -->
                <h2 class="selection-header">Annotations</h2>
                <table id="annotations" class="tabContent" style="padding:10px">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Value</th>
                            <th align="center">Display</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="val in projectInfo.annotations.list">
                            <td contentEditable=true @input="handleInput($event,val,'name')" class='noEmptyWithPlaceholder' placeholder="Enter annotation name">[[val.name]]</td>
                            <td>
                                <select class='mui-select' :selectedIndex="annotationType.indexOf(val.type)">
                                    <option v-for="opt in annotationType">[[opt]]</option>
                                </select>
                            </td>
                            <td contentEditable=true class='noEmpty'>
                                <select class='mui-select' :selectedIndex="labelSets.indexOf(val.values)">
                                    <option v-for="opt in labelSets">[[opt.name]]</option>
                                </select>
                            </td>
                            <td align="center" style="vertical-align:middle">
                                <div class='display' @input="handleCheck($event,val,'display')":data-check='val.display'></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div style="text-align:right">
                    <img id="addAnnotation" class="button" style="width:20px; height:20px; margin:8 2 0 0" title="add annotation" alt="add annotation" src="/img/plus-square.svg"/>
                    <img id="removeAnnotation" class="button" style="width:20px; height:20px; margin:8 2 0 0" title="remove annotation" alt="remove annotation" src="/img/minus-square.svg"/>
                </div>

                <!-- Tab Content 3: MRIs -->
                <h2 class="selection-header">MRI Files</h2>
                <table id="files" class="tabContent" style="padding:10px">
                    <thead>
                        <tr>
                            <th>URL</th>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="val in projectInfo.files.list">
                            <td contentEditable=true @input="handleInput($event, val, 'source')" class='noEmptyWithPlaceholder' placeholder="Enter data file URL">[[val.source]]</td>
                            <td contentEditable=true @input="handleInput($event, val, 'name')" class='noEmptyWithPlaceholder' placeholder="Enter data file name">[[val.name]]</td>
                        </tr>
                    </tbody>
                </table>
                <div style="text-align:right">
                    <img id="importFiles" class="button" style="width:20px; height:20px; margin:8 2 0 0" src="/img/upload-square.svg" title="upload csv" alt="upload csv"/>
                    <img id="exportFiles" class="button" style="width:20px; height:20px; margin:8 2 0 0" src="/img/download-square.svg" title="download csv" alt="download csv"/>
                    <img id="addFile" class="button" style="width:20px; height:20px; margin:8 2 0 0" src="/img/plus-square.svg" title="add new url entry" alt="add new url entry"/>
                    <img id="removeFile" class="button" style="width:20px; height:20px; margin:8 2 0 0" src="/img/minus-square.svg" title="remove url entry" alt="remove url entry"/>
                </div>
            </div>
        </div>
        <!-- end of centering div -->
    </div>
    <!-- End Content -->
    
    <!-- Space (fixed height) -->
    <div style="flex:0 0 50px">
    </div>

    <!-- Footer (fixed height) -->
    <div style="flex:0 0 100px;background-color:#000">
        <p style="width:100%;font-size:small;text-align:center"> 
            <a target="_blank" href="http://neuroanatomy.github.io">
                <img alt="naat logo" src="/img/naat-bw.svg" style="width:28px;height:28px;margin-right:4px;display:inline-block;vertical-align:middle"/></a>
            <a target="_blank" href="http://neuroanatomy.github.io" class="linkNoULine">
                groupe de neuroanatomie appliquée et théorique
            </a>
        </p>
    </div>
    
    <!-- Import files -->
    <!-- black overlay -->
    <div id="importFilesDialog" style="display:none;position:fixed;top:0;left:0;width:100%;height:100%;background-color:rgba(0,0,0,0.7);z-index:100">
        <!-- centered content -->
        <div style="position:relative;padding:1rem;margin:2rem auto;background-color:#333;max-width:600px;text-align:center;border:1px solid #777;height:calc(100% - 4rem);box-sizing:border-box">
            <!-- overflow: scroll -->
            <div style="display:inline-block;max-width:600px;padding:2rem;overflow:scroll;max-height:calc(100% - 10rem)">
                <table>
                    <thead>
                        <tr>
                            <th>URL</th>
                            <th>Name</th>
                        </tr>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <!-- Import/Cancel buttons -->
            <div style="display:block;margin:0 auto;max-width:200px">
                <h2 id="importFilesDialogOk" class="pushButton">Import</h2>
                <h2 id="importFilesDialogCancel" class="pushButton">Cancel</h2>
            </div>
        </div>
    </div>
    
</div>

<script>
var projectInfo={{{projectInfo}}};
var projectShortname = "{{{projectShortname}}}";
</script>

<script src="https://cdn.jsdelivr.net/npm/vue@^2.0.0/dist/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/awesomplete/1.1.5/awesomplete.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/awesomplete/1.1.5/awesomplete.css" />

<style>
    input, textarea {
        background: none;
        border: none;
        width: 100%;
    }
    .awesomplete > ul {
        background: #222
    }
    .awesomplete > ul:before {
        background: none;
        border: none;
    }
    .awesomplete mark,
    .awesomplete li[aria-selected="true"] mark {
        background: #555;
    }
</style>

<script>
Vue.component('autocomplete-input', {
  data () { return { list: [] } },
  props: ['value'],
  mounted () {
    let self = this;
    this.$nextTick(() => {
        const input = self.$refs.awesomplete;
        const aw = new Awesomplete(input, { minChars: 3, list: this.list });
        input.addEventListener('input', (e) => {
            if(input.value.length >= 3) {
                fetch(`/api/userNameQuery?q=${input.value}`)
                .then((res) => {return res.json()})
                .then((list) => {
                    const inputClass = input.classList.contains("userID")?"userID":"userName";
                    const userIDs = list.map((v) => {
                        return {
                            label: (inputClass === "userID"?v.nickname:v.name),
                            value: v.nickname
                        };
                    });
                    aw.list = userIDs;
                    aw.evaluate();
                });
            }
        });
        input.addEventListener('awesomplete-select', (e) => {
            const self = this;
            input.value = e.text.value;
            self.$emit('change', e);
        })
    })
  },
  template: `<input ref="awesomplete" v-bind:value="value" v-on:input="$emit('input',$event.target.value)"/>`
});
</script>

<script src="/js/project-settings-page.js"></script>

<script src="/lib/atlasmaker.js"></script>
<script src="/lib/brainbox.js"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-50078058-2', 'auto');
    ga('send', 'pageview');
</script>

</body>
</html>
