<style>
html {
	background-color:#222;
	color:white;
}
table {
	text-align:center;
	font-family:sans-serif;
	font-size:14px;
}
td {
	padding:0;
}
td.a {
	border:thin solid #777;
	border-radius:3px;
}
td.a:hover {
	background-color:#333;
	-webkit-user-select:none;
	-moz-user-select:none;
	user-select:none;
}
.pressed {
	background-color:#555 !important;
}
</style>

<div style="width:100%;display:inline-block">

	<!-- Slider -->
	<table width="100%" height=0>
		<tr>
			<td id="prev" class="a push" width="28px">-</td>
			
			<td class="a">
				<div id="slice" class="slider" data-max=100 data-val=0 style="position:relative;margin-left:10px;width:calc(100% - 20px)">
					<div class="track"
						 style="position:absolute;left:0;top:50%;width:100%;border-top:1px solid #fff;display:inline-block"></div>
					<div class="thumb"
						 style="transform:translate(-10px,-10px);border-radius:10px;position:absolute;left:0;width:20px;height:20px;background-color:#fff;display:inline-block"></div>
				</div>
				
			</td>
			
			<td id="next" class="a push" width="28px">+</td>
		</tr>
	</table>

	<!-- Buttons -->
	<table width="100%">
		<tr>
			
			<td>
				<!-- Plane -->
				<table width="100%">
					<tr id="plane" class="chose">
						<td class="a pressed">Sag</td>
						<td class="a">Cor</td>
						<td class="a">Axi</td>
					</td>
				</table>
				
				<!-- Precise Cursor -->
				<table width="100%">
					<tr>
						<td id="precise" class="a toggle" colspan=3>Precise Cursor</td>
					</tr>
				</table>
			</td>
			
			<td width="16px"></td>
			
			<td>
				<!-- Paint Tools -->
				<table width="100%">
					<tr>
						<td colspan=2>
							<table width="100%">
								<tr class="chose" id="paintTool">
									<td class="a pressed">Paint</td>
									<td class="a">Erase</td>
								</tr>
							</table>
						</td>
						<td id="fill" class="a toggle">Fill</td>
						<td id="undo" class="a push">Undo</td>
					</td>
				</table>
				
				<!-- Pen Size -->
				<table width="100%">
					<tr class="chose" id="penSize">
						<td class="a pressed">1</td>
						<td class="a">2</td>
						<td class="a">3</td>
						<td class="a">5</td>
						<td class="a">10</td>
						<td class="a">15</td>
					</tr>
				</table>
			</td>
			
		</tr>
	</table>

	<!-- Chat -->
	<table width="100%">
		<tr>
			<td id="chat" style="text-align:left">Chat (disconnected)</td>
		</tr>
		<tr>
			<td>
				<div id="log" style="background-color:#333;padding:5px;text-align:left;vertical-align:top"></div>
			</td>
		</tr>
		<tr>
			<td><input id="msg" type="text" style="width:100%;border:0;padding:0" onkeypress="AtlasMakerWidget.onkey(event)"></td>
		</tr>
	</table>

</div>