<div id="tools-side" style="display:block">

	<style>
	html {
		background-color:#222;
		color:white;
	}
	.a {
		border:thin solid #777;
		border-radius:3px;
		margin:1px;
		text-align:center;
	}
	.a:hover {
		opacity:0.5;
		-webkit-user-select:none;
		-moz-user-select:none;
		user-select:none;
	}
	.pressed {
		background-color:#555 !important;
	}
	.icon {
		width:16px;
		vertical-align:middle;
	}
	#log {
		-webkit-user-select:all;
		-moz-user-select:all;
		user-select:all;
	}
	</style>

	<div style="width:100%;display:flex;flex-direction:column">
		<!-- slider -->
		<div style="flex:0 0 28px">
			<div style="display:flex">
				<div style="height:28px;flex:0 0 28px">
					<div id="prev" class="a push">-</div>
				</div>
				<div style="height:28px;flex:1 0 28px">
					<div style="display:inline-block;width:100%;height:100%">
						<div id="slice" class="slider" data-max=100 data-val=0 style="position:relative;margin-left:10px;width:calc(100% - 20px);height:100%">
							<div class="track"
								 style="position:absolute;left:0;top:50%;width:100%;border-top:1px solid #fff;display:inline-block"></div>
							<div class="thumb"
								 style="transform:translate(-10px,-10px);border-radius:10px;position:absolute;left:0;top:50%;width:20px;height:20px;background-color:#fff;display:inline-block"></div>
						</div>
					</div>
				</div>
				<div style="height:28px;flex:0 0 28px">
					<div id="next" class="a push">+</div>
				</div>
			</div>
		</div>
		<!-- buttons -->
		<div style="flex:0 0 auto">
			<div style="display:flex;flex-wrap:wrap">
				<div style="width:50px;height:56px;flex:1 0 150px;">
					<!-- plane -->
					<div style="display:flex" id="plane" class="chose">
						<div style="height:28px;flex:1"><div class="a pressed">Sag</div></div>
						<div style="height:28px;flex:1"><div class="a">Cor</div></div>
						<div style="height:28px;flex:1"><div class="a">Axi</div></div>
					</div>
					<!-- fullscreen/precise-cursor -->
					<div style="display:flex">
						<div style="height:28px;flex:0 0 28px"><div id="fullscreen" title="Full screen" style="height:24px" class="a toggle"><img style="margin-top:15%" class="icon" src="/img/fullscreen.svg" /></div></div>
						<div style="height:28px;flex:0 0 28px"><div id="3drender" title="3D render" style="height:24px" class="a push"><img style="margin-top:15%" class="icon" src="/img/3drender.svg" /></div></div>
						<div style="height:28px;flex:0 0 28px"><div id="link" title="Link" style="height:24px" class="a push"><img style="margin-top:15%" class="icon" src="/img/link.svg" /></div></div>
						<div style="height:28px;flex:0 0 28px"><div id="bubble" title="Chat" style="height:24px" class="a push"><img style="margin-top:15%" class="icon" src="/img/chat.svg" /></div></div>
						<div style="height:28px;flex:0 0 28px"><div id="upload" title="upload" style="width:25px;height:24px" class="a push">UL</div></div>
						<div style="height:28px;flex:0 0 28px"><div id="download" title="download" style="width:25px;height:24px" class="a push">DL</div></div>
						<div style="height:28px;flex:1"><div id="precise" title="Precise cursor" style="width:25px;height:24px" class="a toggle">Pr</div></div>
					</div>
				</div>
				<div style="width:50px;height:56px;flex:1 0 150px;">
					<!-- paint/erase -->
					<div style="display:flex" class="chose" id="paintTool">
						<div style="height:28px;flex:1"><div class="a pressed">Paint</div></div>
						<div style="height:28px;flex:1"><div class="a">Erase</div></div>
						<div style="height:28px;flex:1"><div class="a">Measure</div></div>
					</div>
					<!-- fill/undo -->
					<div style="display:flex">
						<div style="height:28px;flex:1"><div id="color" title="Color" style="height:24px;background-color:#f00" class="a push"></div></div>
						<div style="height:28px;flex:1"><div id="fill" class="a toggle">Fill</div></div>
						<div style="height:28px;flex:1"><div id="undo" class="a push">Undo</div></div>
					</div>
				</div>
			</div>
		</div>
		<!-- pen size -->
		<div style="flex:0 0 28px">
			<div style="display:flex" class="chose" id="penSize">
				<div style="height:28px;flex:1"><div class="a pressed">1</div></div>
				<div style="height:28px;flex:1"><div class="a">2</div></div>
				<div style="height:28px;flex:1"><div class="a">3</div></div>
				<div style="height:28px;flex:1"><div class="a">5</div></div>
				<div style="height:28px;flex:1"><div class="a">10</div></div>
				<div style="height:28px;flex:1"><div class="a">15</div></div>
			</div>
		</div>
		<!-- chat -->
		<div style="flex:0 0 28px">
			<div id="chat">Chat (disconnected)</div>
		</div>
		<div class="a" style="flex:1 0 56px;text-align:left" id="log" style="background-color:#333;padding:5px;text-align:left;vertical-align:top"></div>
		<div style="flex:0 0 28px">
			<input id="msg" type="text" style="width:calc(100% - 2px);margin:1px;padding:1px" onkeypress="AtlasMakerWidget.onkey(event)">
		</div>
	</div>

</div>