<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="open science neuroimaging collaboration neuroscience MRI">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"> 
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.png" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100" type="text/css">
</head>

<body>

<script type="text/html" id="template">
<UserPage :user='{{{userInfo}}}'>
    <template v-slot:side>
        [[projects.length]] Projects
    </template>
    <template v-slot:content>
        <Tabs>
            <Tab title="Projects">
                <Table id="projects">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Files</th>
                            <th>Collaborators</th>
                            <th>Owner</th>
                            <th>Last modified</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr v-for="project in projects">
                        <td>
                            <a :href="`${project.projectURL}/settings`" class="settings">
                                <img style="width:11px; margin:3px 8px 0 0" src="/img/settings.svg"/>
                            </a>
                            <a :href="project.projectURL">
                                [[project.project]]
                            </a>
                        </td>
                        <td>[[project.numFiles]]</td>
                        <td>[[project.numCollaborators]]</td>
                        <td>
                            <a :href="`/user/${project.owner}`">
                                [[project.owner]]
                            </a>
                        </td>
                        <td>[[project.modified]]</td>
                    </tr>
                    </tbody>
                </Table>
            </Tab>
        </Tabs>
    </template>
</UserPage>
</script>
<style>
#projects {
    table-layout: auto;
}
#projects td {
    padding: 0 4px;
}
#projects a {
    text-decoration: none;
}
.settings {
    opacity: 0.5;
    transition: opacity 500ms;
}
.settings:hover {
    opacity: 1;
}
</style>

<div id="app"></div>

<script>
const nickname = '{{nickname}}';
const loggedUser = {{{loggedUser}}};
</script>
<script src='/js/user-page.js'></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-50078058-2', 'auto');
  ga('send', 'pageview');

</script>

</body>
</html>
