<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="open science neuroimaging collaboration neuroscience MRI">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"> 
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.png" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100" type="text/css">
</head>

<body>

<div style="width:100%;height:100%;display:flex;flex-direction:column">
    
    <!-- Header (fixed height) -->
    <div style="flex:0 0 64px">
        <!-- Top-right menu bar -->
        <div id="menu">
            <img id="addProject" class="button" title="add project" alt="add project" src="/img/plus.svg"/>
            <a href="http://openneu.ro/metasearch" target="_blank"><img id="search" class="button" title="search" alt="search" src="/img/search.svg"/></a>
            <img id="doc" class="button" title="documentation" alt="documentation" src="/img/doc.svg"/>
            <a href="https://github.com/neuroanatomy/BrainBox/issues/new" target="_blank"><img id="bug" class="button" title="report a bug" alt="report a bug" src="/img/bug.svg"/></a>
            <a href="https://github.com/neuroanatomy" target="_blank"><img id="github" class="button" title="join our github project" alt="join our github project" style="width:15px;height:15px" src="/img/github.svg"/></a>
            <div id="MyLogin">
                <span>{{{login}}}</span>
            </div>
        </div>

        <!-- Small left-top logo -->
        <div style="display:inline-block;margin:10px">
            <a href="/" style="text-decoration:none">
                <img style="height:56px;vertical-align:middle" alt="brainbox logo" src="/img/brainbox-logo-small_noFont.svg"/>
            </a><span style="font-family: Roboto, sans-serif; font-size: 36px; font-weight:100;vertical-align:middle" id="fontLogo"> 
                <a href="/" style="font-family: Roboto, sans-serif; font-size: 36px; font-weight:100; text-decoration:none">{{nickname}}</a>
            </span>
        </div>
    </div>

    <!-- Content (variable height) -->
    <div id="content" style="flex:1 0 auto;justify-content:center">
    
        <!-- to center -->
        <!--<table style="margin:auto;width:1000px">-->
        <div id="centeringDiv">
            
            <div id="userImage">
                <img alt="user avatar" src="{{{avatar}}}" style="width:100%"/>
            </div>
            <!-- end of #userImage -->
            
            <div id="userDescription">
                <h1>{{username}}</h1>
                <h2>{{nickname}}</h2>
                <p>{{joined}}</p>
                <p><span id="numMRI"></span> MRI Files</p>
                <p><span id="numAtlas"></span> Atlas Files</p>
                <p><span id="numProjects"></span> Projects</p>
            </div>
            <!-- end of #userDescription -->
            
            <div id="userTable">
                <!-- Tab heads -->
                <div>
                    <a class="tab" value="mri">MRI Files</a>
                    <a class="tab" value="atlas">Atlas Files</a>
                    <a class="tab" value="projects">Projects</a>
                </div>
        
                <!-- Tab contents -->
                <div style="width:calc(100% - 40px);min-height:400px;background:#333;padding:20px">
        
                    <!-- Tab Content 1: MRI Files -->
                    <table id="files" class="tabContent" style="padding:10px;display:none">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Volume Dimensions</th>
                                <th>Included</th>
                            <tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
            
                    <!-- Tab Content 2: Atlas Files -->
                    <table id="atlasFiles" class="tabContent" style="padding:10px;display:none">
                        <thead>
                            <tr>
                                <th>Parent MRI</th>
                                <th>Name</th>
                                <th>Project</th>
                                <th>Last modified</th>
                            <tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
            
                    <!-- Tab Content 3: Projects -->
                    <table id="projects" class="tabContent" style="padding:10px;display:none">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Files</th>
                                <th>Collaborators</th>
                                <th>Owner</th>
                                <th>Last modified</th>
                            <tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
            
                </div>
            </div>
            <!-- end of #userTable -->

        </div>

    </div>
    <!-- End Content -->
    
    <!-- Space (fixed height) -->
    <div style="flex:0 0 50px">
    </div>

    <!-- Footer (fixed height) -->
    <div style="flex:0 0 100px;background-color:#000">
        <p style="width:100%;font-size:small;text-align:center"> 
            <a target="_blank" href="http://neuroanatomy.github.io">
                <img title="naat logo" alt="naat logo" src="/img/naat-bw.svg" style="width:28px;height:28px;margin-right:4px;display:inline-block;vertical-align:middle"/></a>
            <a target="_blank" href="http://neuroanatomy.github.io" class="linkNoULine">
                groupe de neuroanatomie appliquée et théorique
            </a>
        </p>
    </div>
    
</div>

<script>
    let userInfo='{{{userInfo}}}';
    let nickname = '{{nickname}}';
    let tab = '{{tab}}';
</script>
<script src='/js/user-page.js'></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-50078058-2', 'auto');
  ga('send', 'pageview');

</script>

</body>
</html>
