<?php
session_start();
$dbhost = "localhost"; // this will ususally be 'localhost', but can sometimes differ
$dbuser = "YOUR DATABASE USER"; // the username that you created, or were given, to access your database
$dbpass = "YOUR DATABASE PASSWORD"; // the password that you created, or were given, to access your database
$dblogin = "THE DATABASE CONTAINING THE USERS LIST";	// database containing the users list
$brainboxURL="http://brainbox.dev";	// brainbox website url, brainbox.pasteur.fr for production
?>